html 
	head
		include ./components/papers_head.jade
		title Papers | Lim Lab
		<link type="text/css" rel="stylesheet" href="./css/papers.css" media = "screen,projection"/>
	body
		include ./components/header.jade
		#title.container
			h1.s12
				span.part1 Lim Lab 
				span.part2 | Papers
		#content.container
			a(href="papers_highlights.html") Click here for papers by area of interest

			.title Beyond editing: repurposing CRISPR-Cas9 for precision genome regulation and interrogation
			.authors Antonia A. Dominguez, Wendell A. Lim, Lei S. Qi.
			.journal Nature Reviews Molecular Cell Biology. 2015 Dec 16
			a(href="papers/wal_2015.html") Abstract. 
			a(href="papers/pdfs/wal_2015.pdf") PDF. 

			.title Oscillatory stress stimulation uncovers an Achilles' heel of the yeast MAPK signaling network
			.authors Amir Mitchell, Ping Wei, Wendell A. Lim.
			.journal Science. 2015 Nov 19
			a(href="papers/am2015_1.html") Abstract. 
			a(href="papers/pdfs/am2015_1.pdf") PDF. 

			.title Remote control of therapeutic T cells through a small molecule-gated chimeric receptor
			.authors Chia-Yung Wu, Kole T. Roybal, Elias M. Puchner, James Onuffer, Wendell A. Lim.
			.journal Science. 2015 Sep 24
			a(href="papers/cyw2015_2.html") Abstract. 
			a(href="papers/pdfs/cyw2015_2.pdf") PDF. 

			.title Synthetic biology approaches to engineer T cells
			.authors Chia-Yung Wu, Levi J. Rupp, Kole T. Roybal, Wendell A. Lim.
			.journal Current Opinion in Immunology. 2015; 35:123-130
			a(href="papers/cyw2015_1.html") Abstract. 
			a(href="papers/pdfs/cyw2015_1.pdf") PDF. 

			.title Engineering Complex Synthetic Transcriptional Programs with CRISPR RNA Scaffolds
			.authors Zalatan JG, Lee ME, Almeida R, Gilbert LA, Whitehead EH, La Russa M, Tsai JC, Weissman JS, Dueber JE, Qi LS, Lim WA.
			.journal Cell. 2015 Jan 15;160(1-2):339-50.
			a(href="papers/zal2014.html") Abstract. 
			a(href="papers/pdfs/jgz_2015.pdf") PDF. 

			.title Specific Gene Repression by CRISPRi System Transferred through Bacterial Conjugation
			.authors Ji W, Lee D, Wong E, Dadlani P, Dinh D, Huang V, Kearns K, Teng S, Chen S, Haliburton J, Heimberg G, Heineike B, Ramasubramanian A, Stevens T, Helmke KJ, Zepeda V, Qi LS, Lim WA.
			.journal ACS Synth Biol. 2014 Dec 19;3(12):929-31.
			a(href="papers/ji2014.html") Abstract. 
			a(href="papers/pdfs/wj_2014.pdf") PDF. 
			a(href="papers/pdfs/wj_si_2014.pdf") Supplemental Data. 
			| <div class="title">Sending mixed messages for cell population control.</div>
			|   <div class="authors">Hyun Youk and  Wendell A. Lim</div>
			|   <div class="journal"><em>Cell</em> (Preview) 158 : 973-975 (2014)</div>
			|  <a href="papers/hyouk_Cell_2014.html">Abstract</a>. <a href="papers/pdfs/hyouk_Cell_2014.pdf" target="_blank">PDF</a>.
			| <div class="title">Synthetic control of mammalian-cell motility by engineering chemotaxis to an orthogonal bioinert chemical signal.</div>
			|    <div class="authors">Jason S. Park, Benjamin Rhau, Aynur Hermann, Krista A. McNally, Carmen Zhou, Delquin Gong, Orion D. Weiner, Bruce R. Conklin, James Onuffer, and Wendell A. Lim</div>
			|    <div class="journal"><em>Proceedings of the National Academy of Sciences</em>  (April 2014)</div>
			|  <a href="papers/park_2014.html">Abstract</a>. <a href="papers/pdfs/park_2014.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/park_2014_supp.pdf" target="_blank">Supplemental Data</a>.  <a href="papers/pdfs/park_sm01.mp4" target="_blank">Supplemental Movie 1</a>. <a href="papers/pdfs/park_2014_sm02.avi" target="_blank">Supplemental Movie 2</a>. <a href="papers/pdfs/park_2014_sm03.avi" target="_blank">Supplemental Movie 3.</a> <a href="papers/pdfs/park_2014_sm04.avi" target="_blank">Supplemental Movie 4</a>. <a href="papers/pdfs/park_2014_sm05.mov" target="_blank">Supplemental Movie 5</a> <a href="papers/pdfs/park_2014_sm06.mp4" target="_blank">Supplemental Movie 6</a>.
			|  <div class="title">Secreting and sensing the same molecule allows cells to achieve versatile social behaviors.</div>
			|    <div class="authors">Hyun Youk and  Wendell A. Lim</div>
			|    <div class="journal"><em>Science</em> 343 (6171): 1242782 (2014)</div>
			|  <a href="papers/hyouk_2014.html">Abstract</a>. <a href="papers/pdfs/hyouk_2014.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/hyouk_2014_supp.pdf" target="_blank">Supplemental Data</a>.
			|  <div class="comment">Perspective  in <em>Science</em> by Anna J. Lee and Linchong You (<a href=
			|    "papers/pdfs/lee_2014_perspective.pdf" target="_blank">PDF</a>) </div>
			|  <div class="title">Using optogenetics to interrogate the dynamic control of signal transmission by the ras/erk module.</div>
			|    <div class="authors">Jared E. Toettcher, Orion D. Weiner, and Wendell A. Lim.</div>
			|    <div class="journal"><em>Cell</em> 155(6):1422-34 (2013)</div>
			|    <a href="papers/jet_2013.html">Abstract</a>. <a href="papers/pdfs/jet_2013.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/jet_2013_supp.pdf" target="_blank">Supplemental Data</a>. <a href="papers/pdfs/jet_2013_m1.mp4" target="_blank">Supplemental Movie 1</a>. <a href="papers/pdfs/jet_2013_m2.mp4" target="_blank">Supplemental Movie 2</a>. <a href="papers/pdfs/jet_2013_RPPA_dataset.xlsx" target="_blank">RPPA data</a>.  
			|  <div class="title">Counting molecules in single organelles with superresolution microscopy allows tracking of the endosome maturation trajectory.</div>
			|    <div class="authors">Elias M. Puchner, Jessica M. Walter, Robert Kasper, Bo Huang, and Wendell A. Lim.</div>
			|    <div class="journal"><em>Proceedings of the National Academy of Sciences</em> 110(40):16015-16020 (2013)</div>
			|    <a href="papers/emp_2013.html">Abstract</a>. <a href="papers/pdfs/emp_2013.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/emp_2013_supp.pdf" target="_blank">Supplemental Data</a>.
			|  <div class="title">Exploitation of Latent Allostery Enables the Evolution of New Modes of MAP Kinase Regulation.</div>
			|    <div class="authors">Scott M. Coyle, Jonathan Flores, and Wendell A. Lim</div>
			|    <div class="journal"><em>Cell</em> 154, 875-887 (2013)</div>
			|    <a href="papers/smc_2013.html">Abstract</a>. <a href="papers/pdfs/smc_2013.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/smc_2013_supp.pdf" target="_blank">Supplemental Data</a>.
			|    <div class="title">CRISPR-Mediated Modular RNA-Guided Regulation of Transcription in Eukaryotes.</div>
			|    <div class="authors">Luke A. Gilbert, Matthew H. Larson, Leonardo Morsut, Zairan Liu, Gloria A. Brar, Sandra E. Torres, Noam Stern-Ginossar, Onn Brandman, Evan H. Whitehead, Jennifer A. Doudna, Wendell A. Lim, Jonathan S. Weissman, Lei S. Qi</div>
			|    <div class="journal"><em>Cell (Resource)</em> 154, 1-10 (2013)</div>
			|    <a href="papers/lag_2013.html">Abstract</a>. <a href="papers/pdfs/lag_2013.pdf" target="_blank">PDF</a>.
			|    <div class="title">Cell-based therapeutics: the next pillar of medicine.</div>
			|    <div class="authors">Michael A. Fischbach, Jeffrey A. Bluestone, Wendell A. Lim</div>
			|    <div class="journal"><em>Science Translational Medicine</em> 5(179) (2013)</div>
			|    <a href="papers/maf_2013.html">Abstract</a>. <a href="papers/pdfs/maf_2013.pdf" target="_blank">PDF</a>.
			|	<div class="title">Cell biology 2.0.</div>
			|    <div class="authors">Wendell A. Lim, Rebecca Alvania, Wallace F. Marshall</div>
			|    <div class="journal"><em>Trends Cell Biol.</em> 22(12):611-2 (2013)</div>
			|    <a href="papers/wal_2013b.html">Abstract</a>. <a href="papers/pdfs/wal_2013b.pdf" target="_blank">PDF</a>.
			|    <div class="title">Design principles of regulatory networks: searching for the molecular algorithms of the cell.</div>
			|    <div class="authors">Wendell A. Lim, Connie M. Lee, Chao Tang</div>
			|    <div class="journal"><em>Mol. Cell</em> 49(2):202-12 (2013)</div>
			|    <a href="papers/wal_2013a.html">Abstract</a>. <a href="papers/pdfs/wal_2013a.pdf" target="_blank">PDF</a>.
			|    <div class="title">Repurposing CRISPR as an RNA-Guided Platform for Sequence-Specific Control of Gene Expression.</div>
			|    <div class="authors">Lei S. Qi, Matthew H. Larson, Luke A. Gilbert, Jennifer A. Doudna, Jonathan S. Weissman, Adam P. Arkin, Wendell A. Lim</div>
			|    <div class="journal"><em>Cell</em> 28;152(5):1173-83 (2013)</div>
			|    <a href="papers/lsq_2013.html">Abstract</a>. <a href="papers/pdfs/lsq_2013.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/lsq_2013_supp.pdf" target="_blank">Supplemental Data</a>. <a href="papers/pdfs/lsq_2013_seq.pdf" target="_blank">Supplemental Sequences</a>. 
			|    <!----2012 ---->
			|    <div class="title">Designing synthetic regulatory networks capable of self-organizing cell polarization.</div>
			|    <div class="authors">Angela H. Chau*, Jessica M. Walter*, Jaline Gerardin, Chao Tang, Wendell A. Lim</div>
			|    <div class="journal"><em>Cell</em> 151(2):320-32 (2012)</div>
			|    <a href="papers/ahc_2012.html">Abstract</a>. <a href="papers/pdfs/ahc_2012.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/ahc_2012_supp.pdf" target="_blank">Supplemental Data</a>. <a href="papers/pdfs/ahc_2012_m1.mov" target="_blank">Supplemental Movie 1</a>. <a href="papers/pdfs/ahc_2012_m2.mov" target="_blank">Supplemental Movie 2</a>. <a href="papers/pdfs/ahc_2012_code.zip" target="_blank">Simulation Code and Scripts</a>.
			|    <div class="title">Conformational Control of the Ste5 Scaffold Protein Insulates Against MAP Kinase Misactivation.</div>
			|    <div class="authors">Jesse G. Zalatan*, Scott M. Coyle*, Saravanan Rajan, Sachdev S. Sidhu, Wendell A. Lim</div>
			|    <div class="journal"><em>Science</em> 337 (6099): 1218-1222 (2012)</div>
			|    <a href="papers/jgz_2012.html">Abstract</a>. <a href="papers/pdfs/jgz_2012.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/jgz_2012_supp.pdf" target="_blank">Supplemental Data</a>.
			|    <div class="title">Bacterial virulence proteins as tools to rewire kinase pathways in yeast and immune cells.</div>
			|    <div class="authors">Ping Wei*, Wilson W. Wong*, Jason S. Park, Ethan E. Corcoran, Sergio G. Peisajovich, James J. Onuffer, Arthur Weiss, Wendell A. Lim</div>
			|    <div class="journal"><em>Nature</em> 488, 384-388 (2012)</div>
			|    <a href="papers/pw_2012.html">Abstract</a>. <a href="papers/pdfs/pw_2012.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/pw_2012_supp.pdf" target="_blank">Supplemental Data</a>.
			|    <div class="title">Systematic functional prioritization of protein posttranslational modifications.</div>
			|    <div class="authors">Pedro Beltrao, Veronique Albanese, Lillian R. Kenner, Danielle L. Swaney, Alma Burlingame, Judit Villen, Wendell A. Lim, James S. Fraser, Judith Frydman, Nevan J. Krogan</div>
			|    <div class="journal"><em>Cell</em> 150(2):413-25 (2012)</div>
			|    <a href="papers/pb_2012.html">Abstract</a>. <a href="papers/pdfs/pb_2012.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/pb_2012_supp.pdf" target="_blank">Article + Supplemental Data</a>. <a href="papers/pdfs/pb_2012_supp_tables.pdf" target="_blank">Supplemental Tables</a>.
			|    <div class="title">SYNZIP Protein Interaction Toolbox: in Vitro and in Vivo Specifications of Heterospecific Coiled-Coil Interaction Domains.</div>
			|    <div class="authors">Kenneth Evan Thompson, Caleb J. Bashor, Wendell A. Lim, Amy E. Keating</div>
			|    <div class="journal"><em>ACS Synth Biol.</em> 1(4): 118-129 (2012)</div>
			|    <a href="papers/ket_2012.html">Abstract</a>. <a href="papers/pdfs/ket_2012.pdf" target="_blank">PDF</a>. <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3339576/#__sec1title" target="_blank">Supplemental Data</a>.
			|    <div class="title">Control of protein signaling using a computationally designed GTPase/GEF orthogonal pair.</div>
			|    <div class="authors">Gregory T. Kapp, Sen Liu, Amelie Stein, Derek T. Wong, Attila Remenyi, Brian J. Yeh, James S. Fraser, Jack Taunton, Wendell A. Lim, Tanja Kortemme</div>
			|    <div class="journal"><em>Proceedings of the National Academy of Sciences</em> 109(14): 5277-5282 (2012)</div>
			|    <a href="papers/gtk_2012.html">Abstract</a>. <a href="papers/pdfs/gtk_2012.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/gtk_2012_supp.pdf" target="_blank">Supplemental Data</a>.
			|    <!----2011 ---->
			|    <div class="title">Light-based feedback for controlling intracellular signaling dynamics</div>
			|    <div class="authors">Jared E. Toettcher, Delquin Gong, Wendell A. Lim, Orion D. Weiner</div>
			|    <div class="journal"><em>Nature Methods</em> 8, 837-839 (2011)</div>
			|    <a href="papers/jet_2011c.html">Abstract</a>. <a href="papers/pdfs/jet_2011c.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/jet_2011c_supp.pdf" target="_blank">Supplemental Data</a>.
			|	<div class="title">Recruitment interactions can override catalytic interactions in determining the functional identity of a protein kinase</div>
			|    <div class="authors">Angela P. Won, Joan E. Garbarino, Wendell A. Lim</div>
			|    <div class="journal"><em>Proceedings of the National Academy of Sciences</em> 108, 9809-9814 (2011)</div>
			|    <a href="papers/apw_2011.html">Abstract</a>. <a href="papers/pdfs/apw_2011.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/apw_2011_supp.pdf" target="_blank">Supplemental Data</a>.
			|    <div class="title">Light Control of Plasma Membrane Recruitment Using the Phy-PIF System</div>
			|    <div class="authors">Jared E. Toettcher, Delquin Gong, Wendell A. Lim, Orion D. Weiner</div>
			|    <div class="journal"><em>Methods Enzymology</em> 497, 409-23 (2011)</div>
			|    <a href="papers/jet_2011b.html">Abstract</a>. <a href="papers/pdfs/jet_2011b.pdf" target="_blank">PDF</a>.
			|    <div class="title">Scaffold proteins: hubs for controlling the flow of cellular information</div>
			|    <div class="authors">Matthew C. Good, Jesse G. Zalatan, Wendell A. Lim</div>
			|    <div class="journal"><em>Science</em> 332, 680-6 (2011)</div>
			|    <a href="papers/mcg_2011.html">Abstract</a>. <a href="papers/pdfs/mcg_2011.pdf" target="_blank">PDF</a>. <a href="http://www.sciencemag.org/site/multimedia/video/332_6030_680/" target="_blank">Supplemental Video</a>.
			|    <div class="title">The promise of optogenetics in cell biology: interrogating molecular circuits in space and time</div>
			|    <div class="authors">Jared E. Toettcher, Christopher A. Voigt, Orion D. Weiner, Wendell A. Lim</div>
			|    <div class="journal"><em>Nature Methods</em> 1, 35-38 (2011)</div>
			|    <a href="papers/jet_2011.html">Abstract</a>. <a href="papers/pdfs/jet_2011.pdf" target="_blank">PDF</a>.
			|	<!----2010 ---->
			|	<div class="title">Build life to understand it</div>
			|    <div class="authors">Michael Elowitz, Wendell A. Lim</div>
			|    <div class="journal"><em>Nature</em> 468, 889-890 (2010)</div>
			|    <a href="papers/me_2010.html">Abstract</a>. <a href="papers/pdfs/me_2010.pdf" target="_blank">PDF</a>.
			|    <div class="title">Phosphotyrosine signaling: evolving a new cellular communication system</div>
			|    <div class="authors">Wendell A. Lim, Tony Pawson</div>
			|    <div class="journal"><em>Cell</em> 142, 661-667 (2010)</div>
			|    <a href="papers/wal_2010b.html">Abstract</a>. <a href="papers/pdfs/wal_2010b.pdf" target="_blank">PDF</a>.
			|    <div class="title">The minimal autoinhibited unit of the guanine nucleotide exchange factor intersectin</div>
			|    <div class="authors">K. Farid Ahmad, Wendell A. Lim</div>
			|    <div class="journal"><em>PLos ONE</em> 5, e11291 (2010)</div>
			|    <a href="papers/kfa_2010.html">Abstract</a>. <a href="papers/pdfs/kfa_2010.pdf" target="_blank">PDF</a>.
			|    <div class="title">Designing customized cell signalling circuits</div>
			|    <div class="authors">Wendell A. Lim</div>
			|    <div class="journal"><em>Nature Reviews Molecular Cell Biology</em> 11, 393-403 (2010)</div>
			|    <a href="papers/wal_2010.html">Abstract</a>. <a href="papers/pdfs/wal_2010.pdf" target="_blank">PDF</a>.
			|    <div class="title">Rapid diversification of cell signaling phenotypes by modular domain recombination</div>
			|    <div class="authors">Sergio G. Peisajovich, Joan E. Garbarino, Ping Wei, Wendell A. Lim</div>
			|    <div class="journal"><em>Science</em> 328, 368-372 (2010)</div>
			|    <a href="papers/sgp_2010.html">Abstract</a>. <a href="papers/pdfs/sgp_2010.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/sgp_2010_supp.pdf" target="_blank">Supplemental Data</a>.
			|    <div class="comment">Commentary in <em>Nature Reviews Genetics</em> by Katharine H. Wrighton (<a href=
			|    "papers/pdfs/sgp_2010_comm1.pdf" target="_blank">PDF</a>) <brCommentary in <em>Nature Reviews Molecular Cell Biology</em> by Katharine H. Wrighton (<a href=
			|    "papers/pdfs/sgp_2010_comm2.pdf" target="_blank">PDF</a>) 
			|    </div>
			|	<div class="title">Rewiring cells: synthetic biology as a tool to interrogate the organizational principles of living systems</div>
			|    <div class="authors">Caleb J. Bashor, Andrew A. Horwitz, Sergio G. Peisajovich, and Wendell A. Lim</div>
			|    <div class="journal"><em>Annual Review of Biophysics</em> 39, 515-537 (2010)</div>
			|    <a href="papers/cjb_2010.html">Abstract</a>. <a href="papers/pdfs/cjb_2010.pdf" target="_blank">PDF</a>. <div class="comment">(Copyright Annual Reviews)</div>
			|    <!----2009 ---->
			|	<div class="title">Reengineering the signaling properties of a Src family kinase</div>
			|    <div class="authors">Shalini S. Yadav, Brian J. Yeh, Barbara P. Craddock, Wendell A. Lim, and W. Todd Miller</div>
			|    <div class="journal"><em>Biochemistry</em> 48, 10956-10962 (2009)</div>
			|    <a href="papers/ssy_2009.html">Abstract</a>. <a href="papers/pdfs/ssy_2009.pdf" target="_blank">PDF</a>.  <a href="papers/pdfs/ssy_2009_supp.pdf" target="_blank">Supplemental Data</a>.
			|    <div class="title">Spatiotemporal control of cell signalling using a light-switchable protein interaction</div>
			|    <div class="authors">Anselm Levskaya, Orion D. Weiner, Wendell A. Lim, and Christopher A. Voigt</div>
			|    <div class="journal"><em>Nature</em> 461, 997-1001 (2009)</div>
			|    <a href="papers/al_2009.html">Abstract</a>. <a href="papers/pdfs/al_2009.pdf" target="_blank">PDF</a>. <a href="papers/al_2009_supp.html">Supplemental Data</a>.
			|  <div class="title">Defining network topologies that can achieve biochemical adaptation</div>
			|    <div class="authors">Wenzhe Ma, Ala Trusina, Hana El-Samad, Wendell A. Lim, and Chao Tang</div>
			|    <div class="journal"><em>Cell</em> 138, 760-73 (2009)</div>
			|    <a href="papers/wm_2009.html">Abstract</a>. <a href="papers/pdfs/wm_2009.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/wm_2009_supp.pdf" target="_blank">Supplemental Data</a>. <a href="papers/pdfs/wm_2009_vid.mp4" target="_blank">PaperFlick video summary</a>.
			|    <div class="comment">Commentary in <em>Cell</em> by Alexander B. Artyukhin, Lani F. Wu, and Steven J. Altschuler (<a href=
			|    "papers/pdfs/wm_2009_comm.pdf" target="_blank">PDF</a>)</div>
			|	<div class="title">Evolution of phosphoregulation: comparison of phosphorylation patterns across yeast species</div>
			|    <div class="authors">Pedro Beltrao, Jonathan C. Trinidad, Dorothea Fiedler, Assen Roguev, Wendell A. Lim, Kevan M. Shokat, Alma L. Burlingame, and Nevan J. Krogan</div>
			|    <div class="journal"><em>PLoS Biology</em> 7, e1000134 (2009).</div>
			|    <a href="papers/pb_2009.html">Abstract</a>. <a href="papers/pdfs/pb_2009.pdf" target="_blank">PDF</a>. <a href="papers/pb_2009_supp.html">Supplemental Data</a>.
			|  <div class="title">The Ste5 Scaffold Directs Mating Signaling by Catalytically Unlocking the Fus3 MAP Kinase for Activation</div>
			|    <div class="authors">Matthew C. Good, Grace Tang, Julie Singleton, Attila Rem&eacute;nyi, and Wendell A. Lim</div>
			|    <div class="journal"><em>Cell</em> 136, 1085-97 (2009)</div>
			|    <a href="papers/mcg_2009.html">Abstract</a>. <a href="papers/pdfs/mcg_2009.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/mcg_2009_sup.pdf" target="_blank">Supplemental Data</a>.
			|    <div class="comment">Commentary in <em>Cell</em> by Markus A. Seeliger and John Kuriyan (<a href="papers/pdfs/mcg_2009_comm.pdf" target="_blank">PDF</a>)</div>
			|  <!----2008 ---->
			|  <div class="title">The pathogen protein EspF(U) hijacks actin polymerization using mimicry and multivalency</div>
			|    <div class="authors">Nathan A. Sallee, Gonzalo M. Rivera, John E. Dueber, Dan Vasilescu, R. Dyche Mullins, Bruce J. Mayer, and Wendell A. Lim</div>
			|    <div class="journal"><em>Nature</em> 454, 1005-8 (2008)</div>
			|    <a href="papers/nas_2008.html">Abstract</a>. <a href="papers/pdfs/nas_2008.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/nas_2008_sup.pdf" target="_blank">Supplemental Data</a>.   
			|  <div class="title">Evolution of the phospho-tyrosine signaling machinery in premetazoan lineages</div>
			|    <div class="authors">David Pincus, Ivica Letunic, Peer Bork, and Wendell A. Lim</div>
			|    <div class="journal"><em>Proceedings of the National Academy of Sciences</em> 105, 9680-4 (2008)</div>
			|    <a href="papers/dp_2008.html">Abstract</a>. <a href="papers/pdfs/dp_2008.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/dp_2008_sup.pdf" target="_blank">Supplemental Data</a>.
			|   <div class="comment"> Commentary in <em>Proceedings of the National Academy of Sciences</em> by Bruce Mayer (<a href="papers/pdfs/dp_2008_comm.pdf" target="_blank">PDF</a>)</div>
			|  <div class="title">Using engineered scaffold interactions to reshape MAP kinase pathway signaling dynamics</div>
			|    <div class="authors">Caleb J. Bashor, Noah C. Helman, Shude Yan, and Wendell A. Lim</div>
			|    <div class="journal"><em>Science</em> 319, 1539-43 (2008)</div>
			|    <a href="papers/cjb_2008.html">Abstract</a>. <a href="papers/pdfs/cjb_2008.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/cjb_2008_sup.pdf" target="_blank">Supplemental Data</a>.
			|    <div class="comment">Commentary in <em>Science</em> by Peter M. Pryciak (<a href="papers/pdfs/cjb_2008_comm.pdf" target="_blank">PDF</a>)Commentary in <em>Nature Biotechnology </em> by Patrick Guye and Ron Weiss (<a href="papers/pdfs/cjb_2008_comm2.pdf" target="_blank">PDF</a>)</div>
			|     <!----2007 ---->
			|  <div class="title">Synthetic biology: lessons from the history of synthetic organic chemistry</div>
			|    <div class="authors">Brian J. Yeh and Wendell A. Lim</div>
			|    <div class="journal"><em>Nature Chemical Biology</em> 3, 521-5 (2007)</div>
			|    <a href="papers/bjy_2007b.html">Abstract</a>. <a href="papers/pdfs/bjy_2007b.pdf" target="_blank">PDF</a>.
			|  <div class="title">Rewiring cellular morphology pathways with synthetic guanine nucleotide exchange factors</div>
			|    <div class="authors">Brian J. Yeh, Robert J. Rutigliano, Anrica Deb, Dafna Bar-Sagi, and Wendell A. Lim </div>
			|    <div class="journal"><em>Nature</em> 447, 596-600 (2007) </div>
			|    <a href="papers/bjy_2007.html">Abstract</a>. <a href="papers/pdfs/bjy_2007.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/bjy_2007_supp.pdf" target="_blank">Supplemental Data</a>. <a href="papers/pdfs/bjy_2007_supp.mov" target="_blank">Supplemental Video</a>.
			|    <div class="comment">Commentary in <em>Molecular Systems Biology </em> by  Philippe Bastiaens  (<a href="papers/pdfs/bjy_2007_comm.pdf" target="_blank">PDF</a>)Commentary in <em>Developmental Cell</em> by Christopher S. Chen (<a href="papers/pdfs/bjy_2007_comm2.pdf" target="_blank">PDF</a>)</div> 
			|  <div class="title">Engineering synthetic signaling proteins with ultrasensitive input/output control</div>
			|    <div class="authors">John E. Dueber, Ethan A. Mirsky, and Wendell A. Lim</div>
			|    <div class="journal"><em>Nature Biotechnology</em> 25, 660-662 (2007) </div>
			|    <a href="papers/jed_2007.html">Abstract</a>. <a href="papers/pdfs/jed_2007.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/jed_2007_sup.pdf" target="_blank">Supplemental Data</a>.
			|  <div class="title">Engineering modular protein interaction switches by sequence overlap</div>
			|    <div class="authors">Nathan A. Sallee, Brian J. Yeh, and Wendell A. Lim</div>
			|    <div class="journal"><em>Journal of the American Chemical Society</em> 129, 4606-4611 (2007) </div>
			|    <a href="papers/nas_2007.html">Abstract</a>. <a href="papers/pdfs/nas_2007.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/nas_2007_sup.pdf" target="_blank">Supplemental Data</a>.
			|    <!----2006 ---->
			|  <div class="title">Docking interactions in protein kinase and phosphatase networks</div>
			|    <div class="authors">Attila Rem&eacute;nyi, Matthew C. Good, and Wendell A. Lim</div>
			|    <div class="journal"><em>Current Opinion in Structural Biology</em> 16, 676-685 (2006)</div>
			|    <a href="papers/ar_2006.html">Abstract</a>. <a href="papers/pdfs/ar_2006.pdf" target="_blank">PDF</a>.
			|  <div class="title">Domains, Motifs, and Scaffolds: The Role of Modular Interactions in the Evolution and Wiring of Cell Signaling Circuits</div>
			|    <div class="authors">Roby P. Bhattacharyya, Attila Rem&eacute;nyi, Brian J. Yeh, and Wendell A. Lim</div>
			|    <div class="journal"><em><a href="http://arjournals.annualreviews.org/loi/biochem">Annual Review of Biochemistry</a></em> 75, 655-680 (2006) </div>
			|    <a href="papers/rpb_2006b.html">Abstract</a>. <a href="papers/pdfs/rpb_2006b.pdf" target="_blank">PDF</a>.
			|    <div class="comment">(Copyright Annual Reviews)</div>
			|  <div class="title">The Ste5 Scaffold Allosterically Modulates Signaling Output of the Yeast Mating Pathway</div>
			|    <div class="authors">Roby P. Bhattacharyya*, Attila Rem&eacute;nyi*, Matthew C. Good, Caleb J. Bashor, Arnold M. Falick, and Wendell A. Lim</div>
			|    <div class="journal"><em>Science</em> 311, 822-826 (2006) </div>
			|    <a href="papers/rpb_2006.html">Abstract</a>. <a href="http://www.sciencemag.org/cgi/rapidpdf/1120941?ijkey=k5AXSx33OfGAg&keytype=ref&siteid=sci" target="_blank">PDF</a>. 
			|    <div class="comment">Commentary in <em>Science </em>by Ashton Breitkreutz and Mike Tyers (<a href="papers/pdfs/rpb_2006_comm.pdf" target="_blank">PDF</a>)</div>
			|  <!----2005 ---->
			|  <div class="title">The role of docking interactions in mediating discrimination in the yeast MAPK network</div>
			|    <div class="authors">Attila Rem&eacute;nyi, Matthew C. Good, Roby P. Bhattacharyya, and Wendell A. Lim</div>
			|    <div class="journal"><em>Molecular Cell</em> 20, 951-962 (2005)</div>
			|    <a href="papers/ar_2005.html">Abstract</a>. <a href="papers/pdfs/ar_2005.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/ar_2005_sup.pdf" target="_blank">Supplemental Data</a>. 
			|  <div class="title">A general model for preferential hetero-oligomerization of Lin-2/7 domains: Mechanism underlying directed assembly of supramolecular signaling complexes</div>
			|    <div class="authors">Keiko Y. Petrosky, Horng D. Ou, Frank L&ouml;hr, Volker D&ouml;tsch, and Wendell A. Lim</div>
			|    <div class="journal"><em>Journal of Biological Chemistry</em> 280, 38528-38536 (2005) </div>
			|    <a href="papers/kyp_2005.html">Abstract</a>. <a href="papers/pdfs/kyp_2005.pdf" target="_blank">PDF</a>. 
			|  <div class="title">A Polybasic Motif Allows N-WASP to Act as a Sensor of PIP2 Density </div>
			|    <div  class="authors">Venizelos Papayannopoulos, Carl Co, Kenneth E. Prehoda, Scott Snapper, Jack Taunton, and Wendell A. Lim</div>
			|    <div class="journal"><em>Molecular Cell</em> 17, 181-191 (2005) </div>
			|    <a href="papers/vp_2005.html">Abstract</a>. <a href="papers/pdfs/vp_2005.pdf" target="_blank">PDF</a>. <a href="papers/vp_2005_sup.html">Supplemental Data</a>.
			|    <div class="comment">Commentary in <em>Developmental Cell </em>by Diana Murray and Barry Honig (<a href="papers/pdfs/vp_2005_comm.pdf" target="_blank">PDF</a>)</div>
			|  <!----2004 ---->
			|  <div class="title">Rewiring cell signaling: the logic and plasticity of eukaryotic protein circuitry</div>
			|    <div class="authors">John E. Dueber, Brian J. Yeh, Roby P. Bhattacharyya, and Wendell A. Lim </div>
			|    <div class="journal"><em>Current Opinion in Structural Biology</em> 14, 690-699 (2004)</div>
			|    <a href="papers/jed_2004.html">Abstract</a>. <a href="papers/pdfs/jed_2004.pdf" target="_blank">PDF</a>.
			|  <div class="title">Sho1 and Pbs2 Act as Coscaffolds Linking Components in the Yeast High Osmolarity MAP Kinase Pathway</div>
			|    <div class="authors">Ali Zarrinpar, Roby P. Bhattacharyya, M. Paige Nittler, and Wendell A. Lim</div>
			|    <div class="journal"><em>Molecular Cell</em> 14, 825&#8211;832 (2004)</div>
			|    <a href="papers/az_2004.html">Abstract</a>. <a href="papers/pdfs/az_2004.pdf" target="_blank">PDF</a>. <a href="papers/az_2004_sup.html">Supplemental Data</a>.
			|    <div class="comment">Commentary in <em>Current Biology</em> by Bruce T. Seet and Tony Pawson (<a href="papers/pdfs/az_2004_comm.pdf" target="_blank">PDF</a>)</div>
			|  <!----2003 ---->
			|  <div class="title">Optimization of specificity in a cellular protein interaction network by negative selection</div>
			|   <div class="authors">Ali Zarrinpar, Sang-Hyun Park, and Wendell A. Lim</div>
			|    <div class="journal"><em>Nature</em> 426, 676-680 (2003)</div>
			|    <a href="papers/az_2003b.html">Abstract</a>. <a href="papers/pdfs/az_2003b.pdf" target="_blank">PDF</a>. <a href="papers/az_2003b_sup.html">Supplemental Data</a>.
			|    <div class="comment">Commentary in <em>Nature</em> by Drew Endy and Michael B. Yaffe (<a href="papers/pdfs/az_2003b_comm.pdf" target="_blank">PDF</a>)</div>
			|  <div class="title">Reprogramming Control of an Allosteric Signaling Switch Through Modular Recombination</div>
			|    <div class="authors">John E. Dueber, Brian J. Yeh, Kayam Chak, and Wendell A. Lim</div>
			|    <div class="journal"><em>Science</em> 301, 1904-1908 (2003)</div>
			|    <a href="papers/jed_2003.html">Abstract</a>. <a href="papers/pdfs/jed_2003.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/jed_2003_sup.pdf" target="_blank">Supplemental Data</a>. 
			|  <div class="title">The Structure and Function of Proline Recognition Domains </div>
			|    <div class="authors">Ali Zarrinpar, Roby P. Bhattacharyya, and Wendell A. Lim</div>
			|    <div class="journal"><em>Science STKE</em> 2003, re8 (2003) </div>
			|    <a href="papers/az_2003.html">Abstract</a>. <a href="papers/pdfs/az_2003.pdf" target="_blank">PDF</a>. <a href="http://stke.sciencemag.org/cgi/content/full/sigtrans;2003/179/re8/DC1" target="_blank">Structure Animations</a>. 
			|  <div class="title">Role of Electrostatic Interactions in PDZ Domain Ligand Recognition</div>
			|    <div class="authors">Baruch Z. Harris, Francis W. Lau, Naoaki Fujii, R. Kiplin Guy, and Wendell A. Lim</div>
			|    <div class="journal"><em>Biochemistry</em> 42, 2797-2805 (2003) </div>
			|    <a href="papers/bzh_2003.html">Abstract</a>. <a href="papers/pdfs/bzh_2003.pdf">PDF</a>. 
			|  <div class="title">Rewiring MAP Kinase Pathways Using Alternative Scaffold Assembly Mechanisms</div>
			|    <div class="authors">Sang-Hyun Park, Ali Zarrinpar, and Wendell A. Lim</div>
			|    <div class="journal"><em>Science</em> 299, 1061-1064 (2003)v</div>
			|    <a href="papers/shp_2003.html">Abstract</a>. <a href="papers/pdfs/shp_2003.pdf" target="_blank">PDF</a>.<a href="papers/pdfs/shp_2003_sup.pdf" target="_blank"> Supplemental Data</a>.
			|    <div class="comment">Commentary in <em>Science</em> by Mark Ptashne and Alexander Gann (<a href="papers/pdfs/shp_2003_comm.pdf" target="_blank">PDF</a>) Commentary in <em>Molecular Cell</em> by James E. Ferrell, Jr. and Karlene A. Cimprich (<a href="papers/pdfs/shp_2003_comm2.pdf" target="_blank">PDF</a>)</div>
			|  <!----2002 ---->
			|  <div class="title">Structure of the N-WASP EVH1 Domain-WIP Complex: Insight into the Molecular Basis of Wiskott-Aldrich Syndrome</div>
			|    <div class="authors">Brian F. Volkman, Kenneth E. Prehoda, Jessica A. Scott, Francis C. Peterson, and Wendell A. Lim</div>
			|    <div class="journal"><em>Cell</em> 111, 565&#8211;576 (2002)</div>
			|    <a href="papers/bfv_2002.html">Abstract</a>. <a href="papers/pdfs/bfv_2002.pdf" target="_blank">PDF</a>.<a href="papers/bfv_2002_sup.html"> Supplemental Data</a>.
			|  <div class="title">Coordinated folding and association of the LIN-2, -7 (L27) domain: An obligate heterodimerization involved in assembly of signaling and cell polarity complexes</div>
			|    <div class="authors">Baruch Z. Harris, Shivkumar Venkatasubrahmanyam, and Wendell A. Lim</div>
			|    <div class="journal"><em>Journal of Biological Chemistry</em> 277, 34902-34908 (2002)</div>
			|    <a href="papers/bzh_2002.html">Abstract</a>. <a href="papers/pdfs/bzh_2002.pdf" target="_blank">PDF</a>.
			|  <div class="title">How signaling proteins integrate multiple inputs: a comparison of N-WASP and Cdk2</div>
			|    <div class="authors">Kenneth E. Prehoda and Wendell A. Lim</div>
			|    <div class="journal"><em>Current Opinion in Cell Biology</em>14, 149-154 (2002)</div>
			|    <a href="papers/kep_2002.html">Abstract</a>. <a href="papers/pdfs/kep_2002.pdf" target="_blank">PDF</a>.
			|  <div class="title">The modular logic of signaling proteins: building allosteric switches from simple binding domains</div>
			|    <div class="authors">Wendell A. Lim</div>
			|    <div class="journal"><em>Current Opinion in Structural Biology</em> 12, 61-68 (2002)</div>
			|    <a href="papers/wal_2002.html">Abstract</a>. <a href="papers/pdfs/wal_2002.pdf" target="_blank">PDF</a>.
			|  <!----2001 ---->
			|  <div class="title">Structure of the SH3-Guanylate Kinase Module from PSD-95 Suggests a Mechanism for Regulated Assembly of MAGUK Scaffolding Proteins</div>
			|    <div class="authors">Aaron W. McGee, Srikanth R. Dakoji, Olav Olsen, David S. Bredt, Wendell A. Lim, and Kenneth E. Prehoda</div>
			|    <div class="journal"><em>Molecular Cell</em> 8, 1291-1301 (2001)</div>
			|    <a href="papers/awm_2001.html">Abstract</a>. <a href="papers/pdfs/awm_2001.pdf" target="_blank">PDF</a>.
			|    <div class="comment">Commentary in<em> Structure</em> by Michael B. Yaffe (<a href="papers/pdfs/awm_2001_comm.pdf" target="_blank">PDF</a>)</div>
			|  <div class="title">Mechanism and role of PDZ domains in signaling complex assembly</div>
			|    <div class="authors">Baruch Z. Harris and Wendell A. Lim</div>
			|    <div class="journal"><em>Journal of Cell Science</em> 114, 3219-3231 (2001)</div>
			|    <a href="papers/bzh_2001b.html">Abstract</a>. <a href="papers/pdfs/bzh_2001b.pdf" target="_blank">PDF</a>.
			|  <div class="title">The double life of PX domains </div>
			|    <div class="authors">Kenneth E. Prehoda and Wendell A. Lim</div>
			|    <div class="journal"><em>Nature Structural Biology</em> 8, 570-572 (2001)</div>
			|    <a href="papers/kep_2001.html">Abstract</a>. <a href="papers/pdfs/kep_2001.pdf" target="_blank">PDF</a>.
			|  <div class="title">Energetic Determinants of Internal Motif Recognition by PDZ Domains</div>
			|    <div class="authors">Baruch Z. Harris, Brian J. Hillier, and Wendell A. Lim</div>
			|    <div class="journal"><em>Biochemistry</em> 40, 5921-5930 (2001)</div>
			|    <a href="papers/bzh_2001a.html">Abstract</a>. <a href="papers/pdfs/bzh_2001a.pdf" target="_blank">PDF</a>.  
			|  <!----2000 ---->
			|  <div class="title">Integration of Multiple Signals Through Cooperative Regulation of the N-WASP-Arp2/3 Complex</div>
			|    <div class="authors">Kenneth E. Prehoda, Jessica A. Scott, R. Dyche Mullins, and Wendell A. Lim</div>
			|    <div class="journal"><em>Science</em> 290, 801-806 (2000)</div>
			|    <a href="papers/kep_2000.html">Abstract</a>. <a href="papers/pdfs/kep_2000.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/kep_2000_sup.pdf" target="_blank">Supplemental Data</a>.
			|    <div class="comment">Commentary in <em>Science</em> by James Fawcett and Tony Pawson (<a href="http://www.sciencemag.org/cgi/content/full/290/5492/725" target="_blank">HTML</a>)</div>
			|  <div class="title">Converging on proline: the mechanism of WW domain peptide recognition</div>
			|    <div class="authors">Ali Zarrinpar and Wendell A. Lim</div>
			|    <div class="journal"><em>Nature Structural Biology</em> 7, 611-613 (2000)</div>
			|    <a href="papers/az_2000.html">Abstract</a>. <a href="papers/pdfs/az_2000.pdf" target="_blank">PDF</a>.
			|  <div class="title">Improving SH3 domain ligand selectivity using a non-natural scaffold</div>
			|    <div class="authors">Jack T. Nguyen, Margaret Porter, Mehran Amoui, W. Todd Miller, Ronald N. Zuckermann and Wendell A. Lim</div>
			|    <div class="journal"><em>Chemistry &amp; Biology</em> 7, 463-473 (2000)</div>
			|    <a href="papers/jtn_2000.html">Abstract</a>. <a href="papers/pdfs/jtn_2000.pdf" target="_blank">PDF</a>.
			|  <!----1999 ---->
			|  <div class="title">PSD-95 Assembles a Ternary Complex with the N-Methyl-D-aspartic Acid Receptor and a Bivalent Neuronal NO Synthase PDZ Domain</div>
			|    <div class="authors">Karen S. Christopherson, Brian J. Hillier, Wendell A. Lim, and David S. Bredt</div>
			|    <div class="journal"><em>Journal of Biological Chemistry</em> 274, 27467-27473 (1999)</div>
			|    <a href="papers/ksc_1999.html">Abstract</a>. <a href="papers/pdfs/ksc_1999.pdf" target="_blank">PDF</a>.
			|  <div class="title">Structure of the Enabled/VASP Homology 1 Domain&#150;Peptide Complex: A Key Component in the Spatial Control of Actin Assembly</div>
			|    <div class="authors">Kenneth E. Prehoda, Do. J. Lee, and Wendell A. Lim</div>
			|    <div class="journal"><em>Cell</em> 97, 471-480 (1999)</div>
			|    <a href="papers/kep_1999.html">Abstract</a>. <a href="papers/pdfs/kep_1999.pdf" target="_blank">PDF</a>.
			|  <div class="title">Unexpected Modes of PDZ Domain Scaffolding Revealed by Structure of nNOS-Syntrophin Complex</div>
			|    <div class="authors">Brian J. Hillier, Karen S. Christopherson, Kenneth E. Prehoda, David S. Bredt, and Wendell A. Lim</div>
			|    <div class="journal"><em>Science</em> 284, 812-815 (1999)</div>
			|    <a href="papers/bjh_1999.html">Abstract</a>. <a href="papers/pdfs/bjh_1999.pdf" target="_blank">PDF</a>.
			|    <div class="comment">Commentary in<em> Nature Structural Biology</em> by Hartmut Oschkinat (<a href="papers/pdfs/bjh_1999_comm.pdf" target="_blank">PDF</a>)
			|    </div>
			|  <!----1998 ---->
			|  <div class="title">Exploiting the Basis of Proline Recognition by SH3 and WW Domains: Design  of N-Substituted Inhibitors</div>
			|    <div class="authors">Jack T. Nguyen, Christoph W. Turck, Fred E. Cohen, Ronald N. Zuckermann, and Wendell A. Lim</div>
			|    <div class="journal"><em>Science</em> 282, 2088-2092 (1998)</div>
			|    <a href="papers/jtn_1998.html">Abstract</a>. <a href="papers/pdfs/jtn_1998.pdf" target="_blank">PDF</a>.
			|    <div class="comment">Commentary in <em>Chemistry and Biology</em> by Behzad Aghazadeh and Michael K. Rosen (<a href="papers/pdfs/jtn_1998_comm.pdf" target="_blank">PDF</a>)
			|    </div>
		include ./components/footer.jade