html
	head
		title People | Lim Lab
		include ./components/head.jade
		<link type="text/css" rel="stylesheet" href="css/people.css"  media="screen,projection"/>
	body
		include ./components/header.jade
		#title.container
			h1.s12
				span.part1 Lim Lab 
				span.part2 | People

		#current.container
			#principal.row
				.col.photos.s3.m2
					img(src="images/people/head1.jpg")
				.col.photos.s3.m2
					img(src="images/people/head2.jpg")
				.col.photos.s3.m2
					img(src="images/people/head3.jpg")
				.col.photos.s3.m2
					img(src="images/people/head4.jpg")
				.col.s12.m4
					h3.name 
						a(href="people/wendell.html") Wendell Lim
					h4.position Principal Investigator
					h3.name Noleine Blizzard
					h4.position Administrator
				
			.row 
				.s12
					img(src="images/people/LIMgroup.jpg").responsive-img

			.row
				ul
					.col.s12.m6
						li.member Arsenia deGuzman
						li.member 
							a(href = "people/crystal.html") Crystal Ghosh
						li.member 
							a(href = "people/geoff.html") Geoffrey O'Donoghue
						li.member 
							a(href = "people/greg.html") Greg Allen						
						li.member 
							a(href = "people/igal.html") Igal Sterin
						li.member 
							a(href = "people/isabel.html") Isabel Kolinko
						li.member 
							a(href = "people/jasper.html") Jasper Williams				
						li.member 
							a(href = "people/joan.html") Joan Garbarino
						li.member 
							a(href = "people/joechoe.html") Joe Choe
						li.member 
							a(href = "people/jonathanbrunger.html") Jonathan Brunger



					.col.s12.m6
						li.member 
							a(href = "people/jonathanesensten.html") Jonathan Esensten						
						li.member 
							a(href = "people/kole.html") Kole Roybal
						li.member 
							a(href = "people/kyle.html") Kyle Daniels
						li.member 
							a(href = "people/lukasz.html") Lukasz Bugaj
						li.member 
							a(href = "people/nickfrankel.html") Nicholas Frankel
						li.member 
							a(href = "people/ricardo.html") Ricardo Almeida
						li.member 
							a(href = "people/rogelio.html") Rogelio Hernandez-Lopez
						li.member 
							a(href = "people/satoshi.html") Satoshi Toda
						li.member
							a(href = "people/sarah.html") Sarah Levinson
						li.member 
							a(href = "people/wei.html") Wei Yu

		#alumni.container
			h1.s12
				span.part2 
					a(href = "people/alumni.html") Alumni
			#collage.row.clearfix
				.col.s12.m4
					.photo
						img(src="images/people/alumni/alumni-0.jpg")
					//	a.modal-trigger.waves-effect.waves-light(href="#alumni0")
					//#alumni0.modal
					//	img(src="images/people/alumni/alumni-0.jpg")
					.photo
						img(src="images/people/alumni/alumni-1.jpg")
					.photo
						img(src="images/people/alumni/alumni-2.jpg")
					.photo
						img(src="images/people/alumni/alumni-3.png")
					.photo
						img(src="images/people/alumni/alumni-4.jpg")
					.photo
						img(src="images/people/alumni/alumni-5.jpg")
					.photo
						img(src="images/people/alumni/alumni-6.jpg")
				.col.s12.m4
					.photo
						img(src="images/people/alumni/alumni-7.jpg")
					.photo
						img(src="images/people/alumni/alumni-8.jpg")
					.photo
						img(src="images/people/alumni/alumni-9.jpg")
					.photo
						img(src="images/people/alumni/alumni-10.jpg")
					.photo
						img(src="images/people/alumni/alumni-11.jpg")
					.photo
						img(src="images/people/alumni/alumni-12.jpg")
					.photo
						img(src="images/people/alumni/alumni-13.jpg")
					.photo
						img(src="images/people/alumni/alumni-14.jpg")
					.photo
						img(src="images/people/alumni/alumni-15.jpg")
					.photo
						img(src="images/people/alumni/alumni-16.jpg")
				.col.s12.m4
					.photo
						img(src="images/people/alumni/alumni-17.png")
					.photo
						img(src="images/people/alumni/alumni-18.jpg")
					.photo
						img(src="images/people/alumni/alumni-19.jpg")
					.photo
						img(src="images/people/alumni/alumni-20.jpg")
					.photo
						img(src="images/people/alumni/alumni-21.jpg")
					.photo
						img(src="images/people/alumni/alumni-22.jpg")
					.photo
						img(src="images/people/alumni/alumni-23.jpg")
					.photo
						img(src="images/people/alumni/alumni-24.jpg")
					.photo
						img(src="images/people/alumni/alumni-25.jpg")
		
		include ./components/footer.jade
		script(type='text/javascript').
				