html
	head
		title 
		include ./components/head.jade
		<link type="text/css" rel="stylesheet" href="css/people.css"  media="screen,projection"/>
	body
		include ./components/header.jade
		#title.container
			h1.s12
				span.part1 Lim Lab 
				span.part2 | People

		#current.container
			#principal.row
				.col.photos.s3.m2
					img(src="images/people/head1.jpg")
				.col.photos.s3.m2
					img(src="images/people/head2.jpg")
				.col.photos.s3.m2
					img(src="images/people/head3.jpg")
				.col.photos.s3.m2
					img(src="images/people/head4.jpg")
				.col.s12.m4
					h3.name 
						a(href="people/wendell.html") Wendell Lim
					h4.position Principal Investigator
					h3.name Noleine Blizzard
					h4.position Administrator
					h3.name Kara Helmke
					h4.position Education Coordinator					
			.row 
				.s12
					img(src="images/people/LIMgroup.jpg").responsive-img

			.row
				ul
					.col.s12.m6
						li.member 
							a(href = "people/ricardo.html") Ricardo Almeida
						li.member 
							a(href = "people/lukasz.html") Lukasz Bugaj
						li.member 
							a(href = "people/scott.html") Scott Coyle
						li.member Arsenia deGuzman
						li.member 
							a(href = "people/joan.html") Joan Garbarino
						li.member 
							a(href = "people/russell.html") Russell Gordley
						li.member Isabel Kolinko
						li.member 
							a(href = "people/krista.html") Krista McNally
					.col.s12.m6
						li.member 
							a(href = "people/amir.html") Amir Mitchell
						li.member 
							a(href = "people/leo.html") Leonardo Morsut 
						li.member 
							a(href = "people/geoff.html") Geoffrey O'Donoghue
						li.member 
							a(href = "people/kole.html") Kole Roybal
						li.member 
							a(href = "people/levi.html") Levi Rupp
						li.member Whitney Walker
						li.member 
							a(href = "people/chia.html") Chia-Yung Wu
						li.member 
							a(href = "people/xin.html") Xin Xiong
		#alumni.container
			h1.s12
				span.part2 
					a(href = "people/alumni.html") Alumni
			#collage.row.clearfix
				.col.s12.m4
					.photo
						img(src="images/people/alumni/alumni-0.jpg")
					//	a.modal-trigger.waves-effect.waves-light(href="#alumni0")
					//#alumni0.modal
					//	img(src="images/people/alumni/alumni-0.jpg")
					.photo
						img(src="images/people/alumni/alumni-1.jpg")
					.photo
						img(src="images/people/alumni/alumni-2.jpg")
					.photo
						img(src="images/people/alumni/alumni-3.png")
					.photo
						img(src="images/people/alumni/alumni-4.jpg")
					.photo
						img(src="images/people/alumni/alumni-5.jpg")
					.photo
						img(src="images/people/alumni/alumni-6.jpg")
				.col.s12.m4
					.photo
						img(src="images/people/alumni/alumni-7.jpg")
					.photo
						img(src="images/people/alumni/alumni-8.jpg")
					.photo
						img(src="images/people/alumni/alumni-9.jpg")
					.photo
						img(src="images/people/alumni/alumni-10.jpg")
					.photo
						img(src="images/people/alumni/alumni-11.jpg")
					.photo
						img(src="images/people/alumni/alumni-12.jpg")
					.photo
						img(src="images/people/alumni/alumni-13.jpg")
					.photo
						img(src="images/people/alumni/alumni-14.jpg")
					.photo
						img(src="images/people/alumni/alumni-15.jpg")
					.photo
						img(src="images/people/alumni/alumni-16.jpg")
				.col.s12.m4
					.photo
						img(src="images/people/alumni/alumni-17.png")
					.photo
						img(src="images/people/alumni/alumni-18.jpg")
					.photo
						img(src="images/people/alumni/alumni-19.jpg")
					.photo
						img(src="images/people/alumni/alumni-20.jpg")
					.photo
						img(src="images/people/alumni/alumni-21.jpg")
					.photo
						img(src="images/people/alumni/alumni-22.jpg")
					.photo
						img(src="images/people/alumni/alumni-23.jpg")
					.photo
						img(src="images/people/alumni/alumni-24.jpg")
					.photo
						img(src="images/people/alumni/alumni-25.jpg")
		
		include ./components/footer.jade
		script(type='text/javascript').
				