html
	head
		title 
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				span.part2 Aileen | 
				span.part1 Li
		#basics.container
			.row
				.col.s8
					|   <p>Aileen.Li <img src="images/at.gif" class="at"> ucsf.edu</p>        
					|	<p><em>Postdoctoral Fellow</em></p>
				.col.s4
					img.responsive-img.z-depth-1(src="images/AileenLi.jpg")
			#education
				h3 Education 
				p 2017
				.degrees Ph.D., Bioengineering <br/> Harvard University
				.degrees Advisor: David J Mooney
				p 2010
				.degrees B.S., Biomedical Engineering <br/> Georgia Institute of Technology


				h3 Research Interests
				p Engineered T cells for modulating the tumor microenvironment

				h3 Awards
				p 2010-2014 NSF Graduate Research Fellowship
				p 2010 Harvard University James Mills Pierce Fellowship
				p 2015, 2011 Harvard University Distinction in Teaching Award

				h3 Publications
				p <strong>Li, A.W.</strong>, Sobral, M.C., Badrinath, S., Choi, Y, Graveline, A., Stafford, A., Dellacherie, M.O., Shih, T.Y., Ali, O.A., Kim, J., Wucherpfennig, K.W., Mooney, D.J.  "A facile approach to enhance antigen response for personalized cancer vaccination."" Nature Materials. (2018)

				p Dellacherie, M.O.*, <strong>Li, A.W.*</strong>, Lu, B.Y., Mooney, D.J. "Covalent conjugation of peptide antigen to mesoporous silica rods to enhance cellular responses."" Bioconjugate Chemistry. (2018)

				p <strong>Li, A.W.</strong>, Lu, B.Y., Gu, L., Choi, Y., Kim, J., Mooney, D.J. "The effect of surface modification of mesoporous silica micro-rod scaffold on immune cell activation and infiltration"". Biomaterials (2016)
 
				p Wong, K.K., <strong>Li, A.W.</strong>, Mooney, D.J., Dranoff, G. "Advances in Therapeutic Cancer Vaccines."" Advances in Immunology (2016)
 
				p Kim, J.*, <strong>Li, A.W.*</strong>, Choi, Y., Lewin, S.A., Verbeke, C.S., Dranoff, G., Mooney, D.J.  "Injectable and spontaneously-assembling inorganic scaffolds for in vivo immune cell recruitment and modulation."" Nature Biotechnology (2015)
 
				p Kim, J.*, <strong>Li, A.W.*</strong>, Sands, R.W., Mooney, D.J. "Effect of pore structure of macroporous poly(lactide-co-glycolide) scaffolds on the in vivo enrichment of dendritic cells."" ACS Applied Material Interfaces (2014)

				p <strong>Li, A.W.</strong>, Mooney, D.J. "Materials based tumor immunotherapy vaccines." Current Opinion in Immunology (2013)

				p <strong>Li, A.W.</strong>, Barry, Z.T., Cohen, J.D., Wilder, C.L., Deeds, R.J., Keegan, P., Platt, M.O. "Detection of Femtomole Quantities of Mature Cathepsin K with Zymography." Analytical Biochemistry (2009)
 

			
				
