extends ./member.jade 

block name
	span.part2 Angi | 
	span.part1 Chau

block image 
	img.responsive-img.z-depth-1(src="images/angi3.jpg")

block basic 
	| <p>angichau <img src="images/at.gif" class="at"> berkeley.edu</p>        
	| <p><em>Graduate Student</em></p>
	|    <div id="education">
	|    	<h3>Education</h3>
	|			<div class="dates">2004 - present</div><div class="degrees">UC Berkeley-UCSF Graduate Program in Bioengineering</div><br/>
	|		<div class="dates">2002 - 2004</div><div class="degrees">M.S., Electrical Engineering <br/>
	|		  Stanford University</div>
	|		<br/>
	|		<div class="dates">1995 - 1999</div><div class="degrees">B.S., Electrical Engineering<br/>
	|		  Rice University</div>
	|		<br/>
	|  	</div>

block info 
	|	<h3>Fellowships and Awards</h3>
	|    <p>Achievement Rewards for College Scientists (ARCS) 2008-2009<br/>
	|       UC Berkeley Teaching Effectiveness Award 2006-2007<br/>
	|       UC Berkeley Outstanding Graduate Student Instructor Award 2005-2006<br/></p>      
	|    <h3>Research</h3>
	|    <p>I am using computational simulations to study the systems design principles for signaling networks that drive cell polarity.</p>