html
	head
		title 
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				span.part2 Ashley | 
				span.part1 Koegel
		#basics.container
			.row
				.col.s8
					|   <p>Ashley.Koegel <img src="images/at.gif" class="at"> ucsf.edu</p>        
					|	<p><em>Pediatric Hematology-Oncology Fellow</em></p>
				.col.s4
					img.responsive-img.z-depth-1(src="images/Ashley.jpg")
			#education
				h3 Education 
				p 2016-Present
				.degrees Pediatric Hematology-Oncology Fellow <br/> University of California, San Francisco
				p 2013 - 2016
				.degrees Pediatrics Residency <br/> Boston Children's Hospital, Harvard Medical School
				p 2008-2013
				.degrees M.D. <br/> Stanford University
				p 2003-2008
				.degrees B.S., Biochemistry <br/> University of California, Los Angeles
				h3 Research Interests
				p T cell therapeutics | Hematologic Malignancies | Pediatric Oncology

				h3 Awards
				p 2013 Cystic Fibrosis Foundation Travel Grant
				p 2012 Gold Humanism Society Inductee for Compassion and Humanism
				p 2008 Women for Change Student Leadership Award - UCLA
				p 2008 Biochemistry Departmental Highest Honors - UCLA
				p 2007 Award for Exceptional Research Contributions - UCLA Department of Medicine, Division of Hematology-Oncology
				p 2007 Dean's Prize for Outstanding Research Presentation
				p 2007 Best Oral Presentation in Molecular Biology - West Coast Biological Sciences Conference
				p 2006 Howard Hughes Medical Institue Undergraduate Research Fellow
				h3 Publications
				p Stieglitz, E, <strong>Koegel, A.K.</strong>.  "A risk stratified treatment algorithm for patients with Juvenile Myelomonocytic Leukemia."" The Hematologist. 2017 Mar/Apr; 14(2):6.

				p <strong>Koegel, A.K.</strong>, Hofmann, I., Moffitt, K., Degar, B., Duncan, C., Tubman, V.N.. "Acute lymphoblastic leukemia in a patient with MonoMAC syndrome/GATA2 haplosufficiency."" Pediatric Blood Cancer. 2016 May;63(10):1844-1847.

				p Hung, T., Wang, Y., Lin, M.F., <strong>Koegel, A.K.</strong>, Kotake, Y., Grant, G.D., Horlings, H.M., Shah, N., Umbricht, C., Wang, P., Wang, Y., Kong, B., Langerod, A., Borresen-Dale, A.L., Kim, S.K., van de Vijver, M., Sukumar, S., Whitfield, M.L., Kellis, M., Xiong, Y., Wong, D.J., Chang, H.Y. "Extensive and coordinated transcription of noncoding RNAs within cell-cycle promoters"". Nature Genetics. 2011 Jun 5;43(7):621-9
 
				p Oh, J.J., Taschereau, E.O., <strong>Koegel, A.K.</strong>, Ginther, C.L., Rotow, J.K., Isfahani, K.Z., Slamon, D.J. "RBM5/H37 tumor suppressor, located at the lung cancer hot spot 3p21.3, alters expression of genes involved in metastasis."" Lung Cancer. 2010 Dec;70(3):253-62
 
				p Oh, J.J., Boctor, B.N., Jimenez, C.A., Lopez, R., <strong>Koegel, A.K.</strong>, Taschereau, E.O., Phan, D.T., Jacobsen, S.E., Slamon, D.J.  "Promoter methylation study of the H37/RBM5 tumor suppresor gene from the 3p21.3 human lung cancer tumor suppressor locus."" Human Genetics. 2007 Feb;123(1):55-64
 
				p Oh, J.J., <strong>Koegel, A.K.</strong>, Phan, D.T., Razfar, A., Slamon, D.J. "The two single nucleotide polymorphisms in hte H37/RBM5 tumour suppressor gene at 3p21.3 correlated with different subtypes of non-small cell lung cancers."" Lung Cancer. 2007 Oct;58(1):7-14.

				p <strong>Koegel, A.K.</strong>. "Evidence suggesting the presence of Asperger Syndrome in the mid 1800s."" Journal of Positive Behavior Interventions. 2008 Oct;10(4):270-272
 

			
				
