extends ./member.jade

block name
	span.part2 Chia-yung | 
	span.part1 Wu

block image
	img.responsive-img.z-depth-1(src="images/chia.jpg")

block basic 
	|  <p>chiaywu <img src="images/at.gif" class="at"> gmail.com</p>        
	|	<p><em>Postdoctoral Fellow</em></p>
	|    <div id="education">
	|    	<h3>Education</h3>
	|		<div class="dates">2003 - 2010</div><div class="degrees">Ph.D., Biology<br/>Massachusetts Institute of Technology</div><br/>
	|		<div class="dates">1997 - 2001  </div><div class="degrees">B.S., Biochemistry<br/>Rutgers University</div><br/>
	|	</div>

block info
	|    <h3>Publications</h3>
	|	<p><strong>Wu, C.Y.</strong>, Rolfe, P.A., Gifford, D.K., and Fink, G.R. &quot;Control of Transcription by Cell Size.&quot; <em>PLoS Biology</em> 8, e1000523 (2010).</p>
	|	<p>Zhao, X., <strong>Wu, C.Y.</strong>, and Blobel, G. &quot;Mlp-dependent anchorage and stabilization of a desumoylating enzyme is required to prevent clonal lethality.&quot; Journal of Cell Biology 167, 605-11 (2004).
	|   <h3>Research</h3>
	|    <p>Engineering immune cell functions using synthetic receptor proteins</p>