html
	head
		title 
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				span.part2 Crystal | 
				span.part1 Ghosh
		#basics.container
			.row
				.col.s8
					|   <p>Crystal.Ghosh <img src="images/at.gif" class="at"> ucsf.edu</p>        
					|	<p><em>Lab Technician</em></p>
				.col.s4
					img.responsive-img.z-depth-1(src="images/crystal.jpg")
			#education
				h3 Education 
				p 2010-2014
				.degrees B.A., Molecular and Cell Biology <br/> University of California, Berkeley
				
				h3 Research Interests
				p T cell therapeutics.
				
