extends ./member.jade

block name 
	span.part2 Geoffrey | 
	span.part1 O'Donoghue

block image
	img.responsive-img.z-depth-1(src="images/geoff.jpg")

block basic
	|  <p>geoff.odonoghue <img src="images/at.gif" class="at"> gmail.com<br>
	|</p>     
	|	<p><em>Postdoctoral Fellow</em></p>
	|    
	|    <div id="education">
	|    	<h3>Education</h3>
	|		<div class="dates">2014  -  present</div><div class="degrees"> 
	|		  <p>Postdoctoral Fellow<br/> University of California, San Francisco		</p>
	|		</div>
	|		<br/>
	|		<div class="dates">2008  - 2013  </div>
	|		<div class="degrees">Ph.D. in Chemistry<br/>
	|University of California, Berkeley</div><br/><br/>
	|		<div class="dates">2002  - 2006  </div>
	|		<div class="degrees">B.A. in Chemistry<br/>
	|    Williams College</div><br/>
	|		<div class="dates"></div><br/>
	|	</div>

	|<h3>Research Interests</h3>        
	|<p>Molecular organization and biophysics at cell:cell interfaces | T cell signaling | T cell therapeutics</p> 
	|<h3>Fellowships and Awards</h3>
	|<p>2015 F32 Ruth L. Kirschstein National Reseaarch Service Award (NIH)<br/>	
	| 2010 Honorable Mention, Graduate Research Fellowship Program (NSF) <br/>  
	| 2006 Frank C. Goodrich Award for excellence in chemistry research (Williams College)<br/>
	| 2005 Academic All-NESCAC Cross Country Team (Williams College) <br/>

block info
	|<h3>Publications</h3>
	|<p>Hartman, N.*; Kai, H.*; Liu, E.Y.*; Fay, N.; Yu, Y.; Lohm&uuml;ller, T.; <strong>O'Donoghue, G.P.</strong>; Groves, J.T.; Size-based chromatography of signaling clusters in a living cell membrane. <em>Nano Letters</em>, in press. (* denotes equal authorship)</p>
	|<p><strong>O'Donoghue, G.P.*</strong>; Pielak, R.M.*; Smoligovets, A.A.; Lin, J.J.; Groves, J.T.; Direct single molecule measurement of TCR triggering by agonist pMHC in living primary T cells; <em>eLife</em> 2013;2:e00778 (* denotes equal authorship)</p>
	|<p>Lau, C.; Mirkovic, J.; Yu, C.C.; <strong>O'Donoghue, G.P.</strong>; et. al.; Early detection of high-grade squamous intraepithelial lesions in the cervix with quantitative spectroscopic imaging. <em>J. Biomed. Opt. </em>2013; 18(7):76013</p>
	|<p><br>
	|  Belardi, B.; <strong>O'Donoghue, G.P</strong>.; Smith, A.W.; Groves, J.T.; Bertozzi, C.R.; Investigating Cell Surface Galectin-Mediated Cross-Linking on Glycoengineered Cells; <em>J. Am. Chem. Soc.</em> 2012,134, 9549-9552</p>
	|<p>Lohm&uuml;ller, T.; Triffo, S.; <strong>O'Donoghue, G.P.</strong>; Xiu, Q.; Coyle, M.P.; Groves, J.T.; Supported Membranes Embedded with Fixed Arrays of Gold Nanoparticles; <em>Nano Letters</em> 11 (2011) 4912-4918</p>
	|<p>Yu, C.C.; Lau, C.; <strong>O'Donoghue, G.P.</strong>; Mirkovic, J.; McGee, S.; Galindo, L.; Elackattu, A.; Stier, E.; Grillone, G.; Badizadegan, K.; Dasari, R.R.; Feld, M.S.; Quantitative spectroscopic imaging for non-invasive early cancer detection; <em>Optics Express</em> 16 (2008) 16227-16239</p>
	|<p>Saar, B.G.;<strong> O'Donoghue, G.P.</strong>; Steeves, A.H.; Thoman, J.W.; Evidence for a blue-shifting intramolecular hydrogen bond in the vibrational overtone spectrum of 1Hnonafluorobutane; <em>Chemical Physics Letters</em> 417 (2006) 159-163</p>
