html
	head
		title 
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				span.part2 Isabel | 
				span.part1 Kolinko
		#basics.container
			.row
				.col.s8
					|   <p>Isabel.Kolinko <img src="images/at.gif" class="at"> ucsf.edu</p>        
					|	<p><em>Postdoctoral Fellow</em></p>
				.col.s4
					img.responsive-img.z-depth-1(src="images/isabel2.jpg")
			#education
				h3 Education
				.dates 2015 - present
				.degrees Postdoctoral Fellow <br/> University of California, San Francisco 
				p 2010 - 2014
				.degrees Ph.D. in Biological Sciences <br/> Department of Biology, Ludwig Maximilian University, Munich, Germany 
				p 2005 - 2009
				.degrees Diplom (Bachelor's and Master's) <br/> Department of Biology, Ludwig Maximilian University, Munich, Germany 
				h3 Research Interests
				p Engineering representatives of the human microbiome for their use as 'smart' therapeutic systems.
				h3 Awards
				p 2015 Ph.D. Award, Association for General and Applied Microbiology (VAAM) 
				p 2013 Poster Award, VAAM conference (Association for General and Applied Microbiology)
				p 2009 Top 10% peer group of Diplom students, Ludwig Maximilian University, Munich, Germany
				h3 Publications
				p <strong>Kolinko, I.</strong>; Lohße, A.; Borg, S.; Raschdorf, O.; Jogler, C.; Tu, Q.; Pósfai, M.; Tompa, É.; Plitzko, J.M.; Brachmann, A.; Wanner, G.; Müller, R.; Zhang, Y.; Schüler, D.; "Biosynthesis of magnetic nonstructures in a foreign organism by transfer of bacterial magnetosome gene clusters." <em>Nature Nanotechnology</em> 9, 193-197 (2014)
				p Lohße, A.; Borg, S.; Raschdorf, A.; <strong>Kolinko, I.</strong>; Tompa, É.; Pósfai, M.; Faivre, D.; Baumgartner, J.; Schüler, D.; Genetic dissection of the <em>mamAB</em> and the <em>mms6</em> operons reveals a gene set essential for magnetosome biogenesis in <em>Magnetospirillum gryphiswaldense</em>. <em>Journal of Bacteriology</em> (2014), 14: 2658-69.
				p <strong>Kolinko, I.</strong>; Jogler, C.; Katzmann, E.; Schüler, D.; Frequent mutations within the genomic magnetosome island of <em>Magnetospirillum gryphiswaldense</em> are mediated by RecA. <em>Journal of Bacteriology</em> (2011), 19: 5328:34.
		include ../components/footer.jade
