html
	head
		title 
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				span.part2 Isabel | 
				span.part1 Kolinko
		#basics.container
			.row
				.col.s8
					|    <p>Isabel.Kolinko <img src="images/at.gif" class="at"> ucsf.edu</p>        
					|	<p><em>Postdoctoral Fellow</em></p>
				.col.s4
					img.responsive-img.z-depth-1(src="images/isabel.png")
			|    <div id="education">
			|    	<h3>Education</h3>
			|		<div class="dates">2015 - present</div><div class="degrees">Postdoctoral Fellow<br/>University of California, San Francisco</div><br/>
			
			|  	</div>
			|    <h3>Publications</h3>
			|    <p> <strong>Kolinko, I.</strong>; Lohsse, A.; Borg, S.; Raschdorf, O.; Jogler, C.; Tu, Q.; Posfai, M.; Tompa, E.; Plitzko, J.M.; Brachmann, A.; Wanner, G.; Müller, R.; Zhang, Y.; Schüler, D.; "Biosynthesis of magnetic nonstructures in a foreign organism by transfer of bacterial magnetosome gene clusters." <em>Nature Nanotechnology</em> 9, 193-197 (2014)
	
		include ../components/footer.jade
