html
	head
		title 
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				span.part2 Joe | 
				span.part1 Choe
		#basics.container
			.row
				.col.s8
					|   <p>Joe.Choe <img src="images/at.gif" class="at"> ucsf.edu</p>        
					|	<p><em>Graduate Student</em></p>
				.col.s4
					img.responsive-img.z-depth-1(src="images/joechoe.jpg")
			#education
				h3 Education
				.dates 2014 - present
				.degrees Graduate Student <br/> Tetrad Program <br/> University of California, San Francisco 
				<br/>
				.dates 2009 - 2013
				.degrees B.S., Biochemistry and Molecular Biology <br/> University of California, Irvine

				h3 Research Interests
				p Synthetic biology approaches to engineering cells.
				h3 Awards
				p 2013 Robert Ernst Prize for Excellence in Research in the Biological Sciences (UC Irvine)
				p 2013 Excellence in Research in the Biological Sciences (UC Irvine)
				p 2011-2013 Undergraduate Research Opportunities Program Grant (UC Irvine)


		include ../components/footer.jade
