html
	head
		title 
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				span.part2 Jonathan H. | 
				span.part1 Esensten
		#basics.container
			.row
				.col.s8
					|   <p>Jonathan.Esensten <img src="images/at.gif" class="at"> ucsf.edu</p>        
					|	<p><em>Postdoctoral Fellow</em></p>
				.col.s4
					img.responsive-img.z-depth-1(src="images/Jonathan Esensten.jpg")
			#education
				h3 Education
				.dates July 2015 - present
				.degrees Postdoctoral Fellow <br/> University of California, San Francisco 
				<br/>
				.dates 2012 - present
				.degrees Resident <br/> Department of Laboratory Medicine, UCSF
				<br/>
				.dates July 2014 - June 2015
				.degrees Fellow <br/> UCSF-Blood Centers of the Pacific Transfusion Medicine/Blood Banking
				<br/>
				.dates 2004 - 2012
				.degrees Ph.D. (2010), M.D. (2012) <br/> University of California, San Francisco Medical Scientist Training Program
				<br/>
				.dates 2000 - 2004
				.degrees A.B., <em>magna cum laude</em> in Biochemical Sciences <br/> Harvard University
				h3 Research Interests
				p Development of synthetic and chemical biology approaches for T cell therapeutics.
				h3 Awards
				p 2016-2019 Leukemia and Lymphoma Society Fellow
				p 2013 Krevans Award in Laboratory Medicine
				p 2010 Alpha Omega Alpha Honor Society

				h3 Publications
				p Wiita, A.P.; Hsu, G.W.; Lu, C.M.; <strong>Esensten, J.H.</strong>; Wells, J.A.; "Circulating proteolytic signatures of chemotherapy-induced cell death in humans discovered by N-terminal labeling." <em>Proc. Natl. Acad. Sci. USA</em> 111(21):7594-9 (2014)
				p Martínez-Llordella, M*; <strong>Esensten, J.H.</strong>*; Bailey-Bucktrout S.L.; Lipsky R.H.; Marini A.; Chen, J.; Mughal, M.; Mattson, M.P.; Taub, D.D.; Bluestone, J.A.; "CD28-inducible transcription factor DEC1 is required for efficient autoreactive CD4+ T cell response."" <em>J. Exp. Med.</em>, 210(8):1603-19 (2013)
				p de Kouchkovsky, D.; <strong>Esensten, J.H.</strong>; Rosenthal W.L.; Morar, M.M.; Bluestone, J.A.; Jeker, L.T.; "microRNA-17-92 Regulates IL-10 Production by Regulatory T Cells and Control of Experimental Autoimmune Encephalomyelitis. <em>Journal of Immunology</em> (2013) Aug. 15; 191(4):1594-605
				p Bour-Jordan, H.; <strong>Esensten, J.H.</strong>; Martinez-Llordella, M.; Penaranda, C.; Stumpf, M.; Bluestone, J.A.; "Intrinsic and extrinsic control of peripheral T-cell tolerance by costimulatory molecules of the CD28/B7 family." <em>Immunol. Rev.</em> (2011) May 24; 241(1):180-205
				p McCLymont, S.A.; Putnam, A.L.; Lee, M.R.; <strong>Esensten, J.H.</strong>; Liu, W.; Hulme, M.A.; Hoffmüller, U.; Baron, U.; Olek, S.; Bluestone, J.A.; Brusko, T.M.; "Plasticity of human regulatory T cells in healthy subjects and patients with type 1 diabetes." <em>J. Immunol.</em> (2011) Apr. 1; 186(7):3918-26
				p de Kouchkovsky, D.; <strong>Esensten, J.H.</strong>; Bluestone, J.A.; Jeker, L.T.; "microRNAs induced by CD28 are required for optimal T cell co-stimulation and essential for Treg function in vivo." <em>Keystone Conference (Immunoregulatory Networks, D5)</em> Abstract and poster #213, April 2011.
				p <strong>Esensten, J.H.</strong>; Wofsy, D.; Bluestone, J.A.; "Regulatory T cells as therapeutic targets in rheumatoid arthritis." <em> Nature Reviews Rheum. </em> 2009 Oct; 5(10):560-5.
				p <strong>Esensten, J.H.</strong>; Lee, M.R.; Glimcher, L.H.; Bluestone, J.A.; "T-bet-deficient NOD mice are protected from diabetes due to defects in both T cell and innate immune system function." <em> J Immunol. </em> 2009 Jul 1; 183(1):75-82.
				p <strong>Esensten, J.H.</strong>; Tsytsykova, A.V.; Lopez-Rodriquez, C.; Ligeiro, F.A.; Rao, A.; Goldfeld, A.E.; "NFAT5 binds to the TNF promoter distinctly from NFATp, c, 3 and 4, and activates TNF transcription during hypertonic stress alone." <em> Nucleic Acids Res. </em> 2005 Jul 12; 33(12):3845-54.
		include ../components/footer.jade
