extends ./member.jade

block name
	span.part2 Kole | 
	span.part1 Roybal

block image
	img.responsive-img.z-depth-1(src="images/kole.jpg")

block basic 
	|  <p>kole.roybal <img src="images/at.gif" class="at"> ucsf.edu</p>        
	|	<p><em>Postdoctoral Fellow</em></p>
	|    
	|    <div id="education">
	|    	<h3>Education</h3>
	|		<div class="dates">2013 - present</div><div class="degrees">Postdoctoral Fellow<br/>University of California, San Francisco</div><br/>
	|		<div class="dates">2013</div><div class="degrees">PhD, Immunology<br/>UT Southwestern Medical Center at Dallas</div><br/>
	|		<div class="dates">2005</div><div class="degrees">B.S.,Biology<br/>Austin College</div>
	|       	</div>

block info
	|<h3>Research Interests</h3>        
	|      <p>Development of synthetic and chemical biology approaches to control T cell activation</p> 
	|<h3>Fellowships and Awards</h3>
	|	<p>2013 Jane Coffin Childs Fund Postdoctoral Fellowship<br/>	
	|    2012 UT Southwestern Dean's Award for Academic and Research Excellence<br/>
	|2011 Eliot Golding's Award for Outstanding Graduate Student Thesis in the Department of Immunology<br/>
	|2007-2010 NIH - Ruth L. Kirschstein National Research Service Award
	|    </p>
	|   <h3>Publications</h3>
	|<p><strong>Roybal, K.T.</strong>, Williams, J.Z., Morsut, L., Rupp, L.J., Walker, W.J., McNally, K.A., Lim, W.A. "Engineering T cells with Customized Therapeutic Reponse Programs Using Synthetic Notch Receptors". <em>Cell</em> (2016) Oct. 6; <strong>167</strong>, 419-432. <p> Leonardo Morsut*, <strong>Kole T. Roybal*</strong>, Xin Xiong, Russell M. Gordley, Scott M. Coyle, Matthew Thomson, Wendell A. Lim. "Engineering customized cell sensing and response behaviors using synthetic notch receptors." <em>Cell (Resource)</em> (2016)
	<p><strong>Kole T. Roybal</strong>, Levi J. Rupp, Leonardo Morsut, Whitney J. Walker, Krista A. McNally, Jason S. Park, Wendell A. Lim. "Precision tumor recognition by T cells with combinatorial antigen-sensing circuits." <em>Cell</em> (2016)<p><strong>Roybal, K.T.</strong>, Sinai, P., Verkade, P., Murphy, R.F., W&uuml;lfing, C. "The actin-driven spatiotemporal organization of T cell signaling at the systems scale." <em>Immunol. Rev.</em> 256(1) <em>In press</em> (2013).</p>
	|	<p><strong>Roybal, K.T.</strong> and W&uuml;lfing, C. "New TACTICS for finding Numb." <em>Immunol. Cell Biol.</em> 91, 1 (2013).</p>
	|	<p>Falcon, E., Ozburn, A., Mukherjee, S., <strong>Roybal, K.T.</strong>, McClung C.A. "Differential regulation of the period genes in striatal regions following cocaine exposure." <em>PLoS ONE</em> 8(6): e66438. doi:10.1371/journal.pone.0066438 (2013).</p>
	|	<p>Eitson J., Medeiros, J., Hoover, A., Srivastava, S., <strong>Roybal, K.T.</strong>, Ainsa, J., Hansen, E., Gumbo, T., van Oers, N.S. "Mycobacterial Shuttle Vectors
	|Designed for High Level Protein Expression in Infected Macrophages." <em>Appl.
	|Environ. Microbiol.</em> 78(19):6829-37 (2012).</p>
	|	<p>Deford-Watts, L.M., Dougall, D.S., Belkaya, S., Johnson, B.A., Eitson, J.L., <strong>Roybal, K.T.</strong>, Barylko, B., Albanesi, J.P., W&uuml;lfing, C., van Oers, N.S. "The CD3 {zeta} Subunit Contains a Phosphoinositide-Binding Motif That
	|Is Required for the Stable Accumulation of TCR-CD3 Complex at the Immunological Synapse." <em>J Immunol.</em> 186:6839-6847 (2011).</p>
	|	<p><strong>Roybal, K.T.</strong> and W&uuml;lfing, C. "Inhibiting the inhibitor of the inhibitor: blocking PKC-theta to enhance regulatory T cell function." <em>Sci Signal.</em> 3(132):pe24 (2010).</p>
	|	<p>Sinai, P., <strong>Roybal, K.T.</strong>, W&uuml;lfing, C. "Tentative and transient natural killer cell polarization balances the requirements for discriminatory recognition and cytolytic efficacy." <em>Commun Integr Biol.</em> 3:545-548 (2010).</p>
	|    <p>Singleton, K.L.*., <strong>Roybal K.T.*</strong>, Sun, Y., Fu, G., Gascoigne, N.R., van Oers, N.S., W&uuml;lfing, C. "Spatiotemporal patterning during T cell activation is highly diverse." <em>Sci Signal.</em> 2(65):ra15 (2009). (* equal contribution)</p>
	|	<p><strong>Roybal, K.T.</strong>, Theobold, D., Graham, A., DiNieri, J.A., Russo, S.J., Krishnan, V., Chakravarty, S., Peevey, J., Oehrlein, N., Birnbaum, S., Vitaterna, M.H., Orsulak, P., Takahashi, J.S., Nestler, E.J., Carlezon, Jr., W.A., McClung, C.A. "Mania-like behavior induced by disruption of CLOCK." <em>Proc Natl Acad Sci USA.</em> 104:6406-6411 (2007).</p>