extends ./member.jade

block name
	span.part2 Krista | 
	span.part1 Mcnally

block image 
	img.responsive-img.z-depth-1(src="images/krista2.jpg")

block basic 
	|  <p>krista.mcnally <img src="images/at.gif" class="at"> gmail.com</p>        
	|	<p><em>Associate Specialist</em></p>

block info
	|    <h3>Publications</h3>
	|	<p>Maiuri, P., Terriac, E., Paul-Gilloteaux, P., Vignaud, T., <strong>McNally, K.</strong>, Onuffer, J., Thorn, K., Nguyen, P.A., Georgoulia, N., Soong, D., Jayo, A., Beil, N., Beneke, J., Lim, J.C., Sim, C.P., Chu, Y.S.; WCR participants, Jiménez-Dalmaroni, A., Joanny, J.F., Thiery, J.P., Erfle, H., Parsons, M., Mitchison, T.J., Lim, W.A., Lennon-Duménil, A.M., Piel, M., Théry, M. "The first World Cell Race." <em>Curr. Biol.</em> 22(17):R673-5 (2012).</p>