extends ./member.jade

block name
	span.part2 Leonardo | 
	span.part1 Morsut

block image
	img.responsive-img.z-depth-1(src="images/leo.jpg")

block basic
	|  <p>leonardo.morsut <img src="images/at.gif" class="at"> ucsf.edu</p>        
	|	<p><em>Postdoctoral Fellow</em></p>
	|    
	|    <div id="education">
	|    	<h3>Education</h3>
	|		<div class="dates">2012 - present</div><div class="degrees">Postdoctoral Fellow<br/>University of California, San Francisco</div><br/>
	|		<div class="dates">2010 - 2011</div><div class="degrees">Postdoctoral Fellow<br/>University of Padova, Italy</div><br/>
	|        <div class="dates">2007 - 2010</div><div class="degrees">PhD, Bioscience, Genetics and Molecular Biology of Development<br/>University of Padova, Italy</div><br/>
	|		<div class="dates">2004 - 2006</div><div class="degrees">B.S., Mathematics<br/>University of Padova, Italy</div><br/>
	|		<div class="dates">1999 - 2004</div><div class="degrees">B.S. & M.S., Medical Biotechnologies<br/>University of Padova, Italy</div><br/>
	|       	</div>

block info
	|	<h3>Research Interests</h3>        
	|      <p>Exploring new approaches to study developmental biology by using  perturbative techniques (e.g. optogenetics) and the synthetic biology framework.</p> 
	|      <p>Current projects include:
	|    <ul>
	|	<li>studying the branching morphogenesis developmental pathway through a combination of optogenetics and computer simulation; </li>
	|	<li>developing orthogonal cell-cell communication systems for mammalian cells.</li>
	|	</ul>
	|	</p>
	|<h3>Fellowships and Awards</h3>
	|    <p>HFSP postdoctoral long-term fellowship (2013-present)<br>
	|    EMBO postdoctoral fellowship (2012)<br/>
	|	Telethon Foundation Study Prize (2010)<br/>
	|	Poster Prize at the Spetses EMBO / FEBS Advanced Lecture Course "Molecular Mechanisms in Signal Transduction and Cancer" (Aug 2007)<br/>
	|	Telethon Foundation Study Price (Dec 2006)<br/>
	|	Academic seal from the University of Padua for the graduation thesis (2004)<br/>
	|	"EISE 2004" Award for excellence in sport and education (2004)
	|    </p>
	|   <h3>Publications</h3>
	|    <p>Gilbert, L.A., Larson, M.H., <strong>Morsut, L.</strong>, Liu, Z., Brar, G.A., Torres, S.E., Stern-Ginossar, N., Brandman, O., Whitehead, E.H., Doudna, J.A., Lim, W.A., Weissman, J.S., Qi, L.S. "CRISPR-mediated modular RNA-guided regulation of transcription in eukaryotes." <em>Cell (Resource)</em> 154, 1-10 (2013).</p>
	|   	<p>Inui, M., Manfrin, A., Mamidi, A., Martello, G., <strong>Morsut, L.</strong>, Soligo, S., Enzo, E., Moro, S., Polo, S., Dupont, S., Cordenonsi, M., Piccolo, S. "USP15 is a deubiquitylating enzyme for receptor-activated SMADs." <em>Nature Cell Biology (Letter)</em> 13 1368-75 (2011).</p>
	|	<p>Dupont, S.*, <strong>Morsut, L.*</strong>, Aragona, M., Enzo, E., Giulitti, S., Cordenonsi, M., Zanconato, F., Le Digabel, J., Forcato, M., Bicciato, S., Elvassore, N., Piccolo, S. "Role of YAP/TAZ in mechanotransduction." <em>Nature (Article)</em> 474 179- 83 (2011). (*equal contribution)</p>
	|	<p><strong>Morsut, L.</strong>, Yan, K.P., Enzo, E., Aragona, M., Soligo, S.M., Wendling, O., Mark, M., Khetchoumian, K., Bressan, G., Chambon, P., Dupont, S., Losson, R., Piccolo, S. "Negative control of Smad activity by ectodermin/Tif1gamma patterns the mammalian embryo." <em>Development</em> 137 2571-8 (2010).</p>
	|	<p>Dupont, S., Mamidi, A., Cordenonsi, M., Montagner, M., Zacchigna, L., Adorno, M., Martello, G., Stinchfield, M.J., Soligo, S., <strong>Morsut, L.</strong>, Inui, M., Moro, S., Modena, N., Argenton, F., Newfeld, S.J., Piccolo, S. "FAM/USP9x, a deubiquitinating enzyme essential for TGFbeta signaling, controls Smad4 monoubiquitination. <em>Cell</em> 136 123-35 (2009).</p>
	|	<p>Martello, G., Zacchigna, L., Inui, M., Montagner, M., Adorno, M., Mamidi, A., <strong>Morsut, L.</strong>, Soligo, S., Tran, U., Dupont, S., Cordenonsi, M., Wessely, O., Piccolo, S. "MicroRNA control of Nodal signalling." <em>Nature (Article)</em> 449 183-8 (2007).</p>
	|	<p>Porzionato, A., Macchi, V., <strong>Morsut, L.</strong>, Parenti, A., De Caro, R. "Microvascular patterns in human medullary tegmentum at the level of the area postrema." <em>Journal of Anatomy</em> 206 405-10 (2005).</p>