html
	head
		title 
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				span.part2 Michael | 
				span.part1 Broeker
		#basics.container
			.row
				.col.s8
					|   <p>Michael.Broeker <img src="images/at.gif" class="at"> ucsf.edu</p>        
					|	<p><em>Research Assistant</em></p>
				.col.s4
					img.responsive-img.z-depth-1(src="images/Michael_Broeker.jpg")
			#education
				h3 Education 
				p 2013
				.degrees Lab Assistant Certification, Biochemistry <br/> City College of San Francisco
				p 1990 - 1995
				.degrees B.A. in Art (cum laude) <br/> Buffalo State College

				h3 Research Interests
				p Neurogenesis and Stem cell fate choice. Social and feeding behaviors and structures in Tetraodontidae indoor marine habitats.

				h3 Awards
				p 2017 UCSF Great People Award



				h3 Publications

				p Myers, S.A., Peddada, S., Freireich, T., Tomoda, K., Krings, G., Thomas, S., <strong>Broeker, M.</strong>, Thompson, M., Pollard, K., Yamanaka, S., Burlingame, A.L., Panning, B.. "O-GlcNAc modulates the transcriptional activation activity of SOX2 in the induction and maintenance of pluripotency."" eLife (2016)

				p Sokolik, C., Liu, Y., Bauer, D., McPherson, J., <strong>Broeker, M.</strong>, Heimberg, G., Qi, S., Sivak, D., Thompson, M.  "Optical Modulation of Neural Differentiation Reveals a Mechanism for Distinguishing Fluctuations from Developmental Cues."" Cell Systems (2015)



 
			
 

			
				
