extends ./member.jade

block name 
	span.part2 Russell | 
	span.part1 Gordley

block image 
	img.responsive-img.z-depth-1(src="images/russell.jpg")

block basic 
	|  <p>rgordley <img src="images/at.gif" class="at"> gmail.com</p>        
	|	<p><em>Postdoctoral Fellow </em></p>
	|    
	|    <div id="education">
	|    	<h3>Education</h3>
	|		<div class="dates">2002  - 2009 </div><div class="degrees">Ph.D., Macromolecular and Cellular Structure and Chemistry<br />
	|The Scripps Research Institute, San Diego
	| </div><br/>
	|		<div class="dates">1998  - 2002  </div><div class="degrees">B.A., Biochemistry<br />
	|			Swarthmore College
	| </div><br/>
	|	  	</div>
    
block info
	|    <h3>Publications</h3>
	|    <p>Gersbach, C.A., Gaj, T., <strong>Gordley, R.M.</strong>, and Barbas, C.F. 3rd. "Directed evolution of recombinase specificity by split gene reassembly." <em>Nucleic Acids Research</em> 38, 4198-206 (2010).</p>
	|    <p><strong>Gordley, R.M.</strong>, Gersbach, C.A., and Barbas, C.F. 3rd. "Synthesis of programmable integrases." <em>Proceedings of the National Academy of Sciences USA</em> 106, 5053-8 (2009).</p>
	|<p><strong>Gordley, R.M.</strong>, Smith, J.D., Gr&#228;slund, T., and Barbas, C.F. 3rd. "Evolution of programmable zinc finger-recombinases with activity in human cells." <em>Journal of Molecular Biology</em> 367, 802-13 (2007).</p>
	|<p>Werner, R.M., Jiang, Y.L.,<strong> Gordley, R.G.</strong>, Jagadeesh, G.J., Ladner, J.E., Xiao, G., Tordova, M., Gilliland, G.L., and Stivers, J.T. "Stressing out DNA? The contribution of serine-phosphodiester interactions in catalysis by uracil DNA glycosylase." <em>Biochemistry</em> 39, 12585-94 (2000).
	| </p>
