html
	head
		title 
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				span.part2 Sarah | 
				span.part1 Levinson
		#basics.container
			.row
				.col.s8
					|   <p>selevinson <img src="images/at.gif" class="at"> gmail.com</p>        
					|	<p><em>Postdoctoral Scholar</em></p>
				.col.s4
					img.responsive-img.z-depth-1(src="images/sarah.jpg")
			#education
				h3 Education 
				p 2016-Present
				.degrees Postdoctoral Scholar <br/> University of California, San Francisco
				p 2011 - 2016
				.degrees Ph.D., Biomedical Sciences <br/> Icahn School of Medicine at Mount Sinai 
				p 2007-2011
				.degrees B.S., Microbiology <br/> North Carolina State University
				h3 Research Interests
				p T cell engineering | Cancer immunotherapy
				h3 Awards
				p 2014 F31 Ruth L. Kirschstein National Research Service Award (NIH)
				p 2011 Valedictorian (North Carolina State University)
				p 2010 Research Experience for Undergraduates Fellowship (NSF)
				h3 Publications
				p <strong>Levinson, S.</strong>, Cagan, R. "Drosophilla cancer models identify functional differences between Ret Fusions". <em>Cell Reports</em> (2016) 
				
