html
	head
		title 
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				span.part2 Satoshi | 
				span.part1 Toda
		#basics.container
			.row
				.col.s8
					|   <p>Satoshi.Toda <img src="images/at.gif" class="at"> ucsf.edu</p>        
					|	<p><em>Postdoctoral Fellow</em></p>
				.col.s4
					img.responsive-img.z-depth-1(src="images/Satoshi.jpg")
			#education
				h3 Education
				.dates 2015 - present
				.degrees Postdoctoral Fellow <br/> University of California, San Francisco 
				p 2014 - 2015
				.degrees Postdoctoral Fellow <br/> Kyoto University
				p 2009 - 2014
				.degrees Ph.D., Medical Science <br/> Kyoto University
				p 2005 - 2009
				.degrees B.Sc., Engineering <br/> Kyoto University
				h3 Research Interests
				p Synthesis of cellular functions with molecular circuits or by developing new approaches
				h3 Awards
				p 2015 - present Postdoctoral fellowship for research abroad (JSPS)
				p 2012-2014 Research fellowship for young scientists DC2 (JSPS)
				p 2013 Suzuki Koichi memorial award (The Japanese Biochemical Society) 
				p 2012 Young Investigator Award (Kyoto University)
				p 2008 Hatakeyama Prize (The Japan Society of Mechanical Engineers)
				h3 Publications
				p <strong>Toda, S.</strong>, Segawa, K., Nagata, S.; "MerTK-mediated engulfment of pyrenocytes by central macrophages in erythroblastic islands." <em>Blood</em> 123, 3963-3971 (2014)
				p Nishi, C., <strong>Toda, S.</strong>, Segawa, K., Nagata, S.; "Tim4- and MerTK-mediated engulfment of apoptotic cells by mouse resident peritoneal macrophages. <em>Mol. Cell Biol.</em> (2014), 34: 1512-1520.
				p <strong>Toda, S.</strong>, Hanayama, R., Nagata, S.; "Two-step engulfment of apoptotic cells." <em>Mol. Cell Biol.</em> (2012), 32: 118:125.
		include ../components/footer.jade
