html
	head
		title 
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				span.part2 Wesley | 
				span.part1 McKeithan
		#basics.container
			.row
				.col.s8
					|   <p>Wesley.Mckeithan <img src="images/at.gif" class="at"> ucsf.edu</p>        
					|	<p><em>Postdoctoral Fellow</em></p>
				.col.s4
					img.responsive-img.z-depth-1(src="images/Wes.jpg")
			#education
				h3 Education 
				p 2018-Present
				.degrees Postdoctoral Fellow <br/> UCSF
				p 2013-2018
				.degrees Ph.D., Biomedical Sciences <br/> Sanford Burnham Prebys Graduate School
				p 2007-2011
				.degrees B.A., Biochemistry <br/> University of San Diego

				h3 Research Interests
				p Understanding design principles of tissue morphogenesis for synthetic applications

				h3 Publications
				p Bruyneel, A.A.N., <strong>McKeithan, W.L.</strong>, Feyen, D.A.M., Mercola, M.  "Using iPSC Models to Probe Regulation of Cardiac Ion Channel Function."" Curr. Cardiol. Rep. (2018)

				p <strong>McKeithan, W.L.</strong>, Savchenko, A., Yu, M.S., Cerignoli, F., Bruyneel, A.A.N., Price, J.H., Colas, A.R., Miller, E.W., Cashman, J.R., Mercola, M. "An Automated Platform for Assessment of Congenital and Drug Induced Arrhythmia" Front Physiol (2017) 8:766

				p Cunningham, T.J.*, Yu, M.S.*, <strong>McKeithan, W.L.*</strong>, Spiering, S., Carrette, F., Huang, C.T., Bushway, P.J., Tierney, M., Albini, S., Giacca, M.. "Id genes are essential for early heart formation"". Genes Dev (2017) 31, 1325-1338
 
				p Sharma, A.*, Burridge, P.W.*, <strong>McKeithan, W.L.</strong>, Serrano, R., Shukla, P., Sayed, N., Churko, J.M., Kitani, T., Wu, H., Holmstrom, A. "High-throughput screening of tyrosine kinase inhibitor cardiotoxicity with human induced pluripotent stem cells."" Sci. Transl. Med (2017) 9, eaaf2584
 
				p <strong>McKeithan, W.L.*</strong>, Colas, A.R.*, Bushway, P.J., Ray, S, Mercola, M.  "Serum-free generation of multipotent mesoderm (Kdr+) progenitor cells in mouse embryonic stem cells for functional genomics screening."" Curr Protoc Stem Cell Biol (2012) 1F.13.1-1F.13.13
 
				p Colas, A.R., <strong>McKeithan, W.L.</strong>, Cunningham, T.J., Bushway, P.J., Garmire, L.X., Duester, G., Subramaniam, S., Mercola, M. "Whole-genome microRNA screening identifies let-7 and mir-18 as regulators of germ layer formation during early embryogenesis."" Genes Dev (2012) 26, 2567-2579

 

			
				
