html
	head
		title 
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				span.part2 Whitney | 
				span.part1 Walker
		#basics.container
			.row
				.col.s8
					|   <p>Whitney.Walker2 <img src="images/at.gif" class="at"> ucsf.edu</p>        
					|	<p><em>Junior Specialist</em></p>
				.col.s4
					img.responsive-img.z-depth-1(src="images/cellsignaling.jpg")
			#education
				h3 Education  
				p 2010 - 2014
				.degrees B.S., Biological Chemistry <br/> Stanford University
				h3 Research Interests
				p 
				h3 Publications
				p Payumo, A.Y., <strong>Walker, W.J.</strong>, McQuade, L.E., Chen, J.K.; "Optochemical dissection of T-box gene-dependent medial floor plate development." <em>ACS Chem Biol.<em> (2015).
				
