extends ./member.jade

block name
	span.part2 Xin | 
	span.part1 Xiong

block image
	img.responsive-img.z-depth-1(src="images/xin.jpg")

block basic
	|  <p>xin.xiong <img src="images/at.gif" class="at"> ucsf.edu<br/>
	|  <p><em>Postdoctoral Fellow</em></p>
	|    <div id="education">
	|    	<h3>Education</h3>
	|		<div class="dates">2013 - present</div><div class="degrees">Postdoctoral Fellow<br/>University of California, San Francisco</div><br/>
	|		<div class="dates">2007 - 2013</div><div class="degrees">Ph.D., Molecular, Cellular and Developmental Biology<br/>University of Michigan, Ann Arbor</div><br/>
	|        <div class="dates">2003 - 2007</div><div class="degrees">B.S., Biotechnology and Bioengineering<br/>Shanghai Jiao Tong University, Shanghai, China</div>
	|</div>

block info
	|<h3>Research Interests</h3>
	|	<p>Engineering neurons to understand the principles in development and maintenance of the nervous system</p>
	|	<h3>Fellowships and Awards</h3>
	|    <p>Helen Hay Whitney Fellowship (2014-2017)<br/>
	|    Rackham pre-doctoral fellowship, University of Michigan (2011-2012)
	|    </p>
	|   <h3>Publications</h3>    
	|    <p><strong>Xiong, X.</strong>, Hao, Y., Sun, K., Li, J., Li, X., Mishra, B., Soppina, P., Wu, C., Hume, R.I., and Collins, C.A. "The Highwire ubiquitin ligase promotes axonal degeneration by tuning levels of Nmnat protein." <em>Plos Biology</em> 10(12):e1001440 (2012).</p>
	|<p><strong>Xiong, X.</strong> and Collins, C.A. "A conditioning lesion protects axons from degeneration via the Wallenda/DLK MAP kinase signaling cascade." <em>Journal of Neuroscience</em> 32(2):610-5 (2012).</p>
	|<p><strong>Xiong, X.</strong>, Wang, X., Ewanek, R., Bhat, P., Diantonio, A., and Collins, C.A. "Protein turnover of the Wallenda/DLK kinase regulates a retrograde response to axonal injury." <em>Journal of Cell Biology</em> 191(1):211-23 (2010).</p>
