extends ./papers.jade
block content
	|   <p class="title">Designing synthetic regulatory networks capable of self-organizing cell polarization.</p>
	|   <p class="authors">Angela H. Chau*, Jessica M. Walter, Jaline Gerardin, Chao Tang, Wendell A. Lim<br/>
	|   <em>Cell</em> 151(2):320-32 (2012)</p>
	|   <p>*These authors contributed equally to this work.</p>
	|   <p class="abstract">How cells form global, self-organized structures using genetically encoded molecular rules remains elusive. Here, we take a synthetic biology approach to investigate the design principles governing cell polarization. First, using a coarse-grained computational model, we searched for all possible simple networks that can achieve polarization. All solutions contained one of three minimal motifs: positive feedback, mutual inhibition, or inhibitor with positive feedback. These minimal motifs alone could achieve polarization under limited conditions; circuits that combined two or more of these motifs were significantly more robust. With these design principles as a blueprint, we experimentally constructed artificial polarization networks in yeast, using a toolkit of chimeric signaling proteins that spatially direct the synthesis and degradation of phosphatidylinositol (3,4,5)-trisphosphate (PIP(3)). Circuits with combinatorial motifs yielded clear foci of synthetic PIP(3) that can persist for nearly an hour. Thus, by harnessing localization-regulated signaling molecules, we can engineer simple molecular circuits that reliably execute spatial self-organized programs.</p>    
	|   <p class="extras"><a href="pdfs/ahc_2012.pdf" target="_blank">PDF</a><br>
	|   <a href="pdfs/ahc_2012_supp.pdf" target="_blank">Supplemental Data</a><br>
	|   <a href="pdfs/ahc_2012_m1.mov" target="_blank">Supplemental Movie 1</a><br>
	|   <a href="pdfs/ahc_2012_m2.mov" target="_blank">Supplemental Movie 2</a><br>
	|   <a href="pdfs/ahc_2012_code.zip" target="_blank">Simulation Code and Scripts</a>
	|   </p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
