extends ./papers.jade
block content
	|   <p class="title">Spatiotemporal control of cell signalling using a light-switchable protein interaction</p>
	|   <p class="authors">Anselm Levskaya, Orion D. Weiner, Wendell A. Lim, and Christopher A. Voigt<br />
	| 	<em>Nature</em> 461, 997-1001 (2009)
	|  	</p>
	|   <p class="abstract">
	|   <a href="pdfs/al_2009_s1.pdf" target="_blank">Supplementary Information</a><br>
	|   This file contains Supplementary Methods, Supplementary Table S1, Supplementary Data, Supplementary Movie Legends, Supplementary References and Supplementary Figures S1-S5 with Legends.
	|   <br><br>
	|   <a href="pdfs/al_2009_s1.mov" target="_blank">Movie S1</a><br>
	|   This movie shows YFP membrane recruitment - see Supplementary Information for full legend.
	|   <br><br>
	|   <a href="pdfs/al_2009_s2.mov" target="_blank">Movie S2</a><br>
	|   This movie shows YFP membrane dissociation - see Supplementary Information for full legend.
	|   <br><br>
	|   <a href="pdfs/al_2009_s3.mov" target="_blank">Movie S3</a><br>
	|  This movie shows oscillating YFP translocation - see Supplementary Information for full legend.
	|   <br><br>
	|   <a href="pdfs/al_2009_s4.mov" target="_blank">Movie S4</a><br>
	|   This movie shows YFP point recruitment - see Supplementary Information for full legend.
	|   <br><br>
	|   <a href="pdfs/al_2009_s5.mov" target="_blank">Movie S5</a><br>
	|   This movie shows patterned recruitment of YFP - see Supplementary Information for full legend.
	|   <br><br>
	|   <a href="pdfs/al_2009_s6.mov" target="_blank">Movie S6</a><br>
	|  This movie shows titrated recruitment of YFP - see Supplementary Information for full legend.
	|   <br><br>
	|   <a href="pdfs/al_2009_s7.mov" target="_blank">Movie S7</a><br>
	|   This movie shows cell extrusion by Tiam(Rac GEF) recruitment - see Supplementary Information for full legend.
	|   <br><br>
	|   <a href="pdfs/al_2009_s8.mov" target="_blank">Movie S8</a><br>
	|   This movie shows dynamic lamellipodia by Tiam(Rac GEF) - see Supplementary Information for full legend. 
	|   <br><br>
	|   <a href="pdfs/al_2009_s9.mov" target="_blank">Movie S9</a><br>
	| This movie shows periodic contractions by Tim(Rho GEF) recruitment - see Supplementary Information for full legend.
	|   <br><br>
	|   <a href="pdfs/al_2009_s10.mov" target="_blank">Movie S10</a><br>
	|   This movie shows PIF-YFP only recruitment control  - see Supplementary Information for full legend.
	|   <br><br>
	|   <a href="pdfs/al_2009_s11.mov" target="_blank">Movie S11</a><br>
	|   This movie shows monitoring membrane-bound Cdc42-GTP dynamics via recruited mCherry-WASP-GBD in TIRF - see Supplementary Information for full legend. 
	|   </p>    
	|   <p class="extras">
	|   <a href="al_2009.html">Abstract</a><br />
	|   <a href="pdfs/al_2009.pdf" target="_blank">PDF</a><br>
	|   </p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
