extends ./papers.jade
block content
	p.title Cellular perception and misperception: Internal models for decision-making shaped by evolutionary experience.
	p.authors  Amir Mitchell, Wendell A. Lim. <br/> <em>Bioessays</em> 2016
	p.abstract  Cells live in dynamic environments that necessitate perpetual adaptation. Since cells have limited resources to monitor external inputs, they are required to maximize the information content of perceived signals. This challenge is not unique to microscopic life: Animals use senses to perceive inputs and adequately respond. Research showed that sensory-perception is actively shaped by learning and expectation allowing internal cognitive models to “fill in the blanks” in face of limited information. We propose that cells employ analogous strategies and use internal models shaped through the long process of evolutionary adaptation. Given this perspective, we postulate that cells are prone to “misperceptions,” analogous to visual illusions, leading them to incorrectly decode patterns of inputs that lie outside of their evolutionary experience. Mapping cellular misperception can serve as a fundamental approach for dissecting regulatory networks and could be harnessed to modulate cell behavior, a potentially new avenue for therapy.
	p.extras 
	|<p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>