extends ./papers.jade
block content
	|   <p class="title">Docking
	|     interactions in protein kinase and phosphatase networks</p>
	|   <p class="authors">Attila
	|     Rem&eacute;nyi, Matthew C. Good, and Wendell A. Lim<br>
	|   <em>Current Opinion in Structural Biology</em> 16, 676-685 (2006) </p>
	|   <p class="abstract">To achieve high biological specificity, protein kinases and phosphatases
	|     often recognize their targets through interactions that occur outside of
	|     the active site. Although the role of modular protein&ndash;protein interaction
	|     domains in kinase and phosphatase signaling has been well characterized,
	|     it is becoming clear that many kinases and phosphatases utilize docking interactions &mdash; recognition
	|     of a short peptide motif in target partners by a groove on the catalytic
	|     domain that is separate from the active site. Docking is particularly prevalent
	|     in serine/threonine kinases and phosphatases, and is a versatile organizational
	|     tool for building complex signaling networks; it confers a high degree of
	|   specificity and, in some cases, allosteric regulation.  </p>    
	|   <p class="extras"><a href="pdfs/ar_2006.pdf" target="_blank">PDF</a>
	|   </p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
