extends ./papers.jade
block content
	|   <p class="title">Structure of the SH3-Guanylate Kinase Module from PSD-95 Suggests a Mechanism 
	|     for Regulated Assembly of MAGUK Scaffolding Proteins</p>
	|   <p class="authors">Aaron W. McGee, Srikanth R. Dakoji, Olav Olsen, David S. Bredt, Wendell A. 
	|     Lim, and Kenneth E. Prehoda<br>
	|     <i>Molecular Cell</i> 8, 1291-1301 (2001) </p>
	|   <p class="abstract">    Membrane-associated guanylate kinases (MAGUKs), such as PSD-95, are modular 
	|     scaffolds that organize signaling complexes at synapses and other cell junctions. 
	|     MAGUKs contain PDZ domains, which recruit signaling proteins, as well as a 
	|     Src homology 3 (SH3) and a guanylate kinase-like (GK) domain, implicated in 
	|     scaffold oligomerization. The crystal structure of the SH3-GK module from 
	|     PSD-95 reveals that these domains form an integrated unit: the SH3 fold comprises 
	|     noncontiguous sequence elements divided by a hinge region and the GK domain. 
	|     These elements compose two subdomains that can assemble in either an intra- 
	|     or intermolecular fashion to complete the SH3 fold. We propose a model for 
	|     MAGUK oligomerization in which complementary SH3 subdomains associate by 3D 
	|     domain swapping. This model provides a possible mechanism for ligand regulation 
	|     of oligomerization.  </p>    
	|   <p class="extras"><a href="pdfs/awm_2001.pdf" target="_blank">PDF</a><br>
	|   <a href="pdfs/awm_2001_comm.pdf" target="_blank">Commentary in<em> Structure</em> by
	|   Michael B. Yaffe</a>
	|   </p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
