extends ./papers.jade
block content
	|   <p class="title">The Structure and Function of Proline
	|     Recognition Domains </p>
	|   <p class="authors">Ali Zarrinpar,
	|     Roby P. Bhattacharyya, and Wendell A. Lim<br>
	|     <em>Science STKE</em> 2003, re8 (2003) </p>
	|   <p class="abstract">One particularly abundant group of modular recognition domains consists
	|     of those that bind proline-rich motifs. Such modules, including the SH3,
	|     WW, and EVH1 domains, play a critical role in the assembly and regulation
	|     of many intracellular signaling complexes. These domains use strikingly similar
	|     molecular mechanisms of proline recognition. We discuss some of the potential
	|     biological advantages conferred by proline recognition, which may explain
	|   its widespread use in signaling. </p>    
	|   <p class="extras"><a href="pdfs/az_2003.pdf" target="_blank">PDF</a><br>
	|   <a href="http://stke.sciencemag.org/cgi/content/full/sigtrans;2003/179/re8/DC1" target="_blank">Structure
	|   Animations</a>
	|   </p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
