extends ./papers.jade
block content
	|   <p class="title">Sho1 and Pbs2 Act as Coscaffolds Linking
	|     Components in the Yeast High Osmolarity MAP Kinase Pathway</p>
	|   <p class="authors">Sho1 and Pbs2 Act as Coscaffolds Linking
	|     Components in the Yeast High Osmolarity MAP Kinase Pathway </p>
	|   <p class="abstract">Scaffold proteins mediate efficient and specific signaling in several mitogen-activated
	|     protein (MAP) kinase cascades. In the yeast high osmolarity response pathway,
	|     the MAP kinase kinase Pbs2 is thought to function as a scaffold, since it
	|     binds the osmosensor Sho1, the upstream MAP kinase kinase kinase Ste11, and
	|     the downstream MAP kinase Hog1. Nonetheless, previous work has shown that
	|     Ste11 can be activated even when Pbs2 is deleted, resulting in inappropriate
	|     crosstalk to the mating pathway. We have found a region in the C terminus
	|     of Sho1 that binds Ste11 independently of Pbs2 and is required for crosstalk.
	|     These data support a model in which Sho1 has at least two separable interaction
	|     regions: one that binds Ste11 and mediates its activation, and one that binds
	|     Pbs2, directing Ste11 to act on Pbs2. Thus, a network of interactions provided
	|   by both Sho1 and Pbs2 appears to direct pathway information flow. </p>    
	|   <p class="extras"><a href="pdfs/az_2004.pdf" target="_blank">PDF</a><br>
	|         <a href="az_2004_sup.html">Supplemental Data</a> <br>
	|   <a href="pdfs/az_2004_comm.pdf" target="_blank">Commentary in <em>Current Biology</em> by Bruce T. Seet and Tony Pawson</a> </p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
