extends ./papers.jade
block content
	|   <p class="title">Converging on proline: the mechanism 
	|     of WW domain peptide recognition</p>
	|   <p class="authors">Ali Zarrinpar and Wendell A. Lim<br>
	|     <i>Nature Structural Biology</i> 7, 611-613 (2000) </p>
	|   <p class="abstract">Two new structures reveal 
	|     the general rules of proline-rich motif recognition by WW domains and show 
	|     that they are strikingly similar to those used by SH3 domains. </p>    
	|   <p class="extras"><a href="pdfs/az_2000.pdf" target="_blank">PDF</a></p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
