extends ./papers.jade
block content
	p.title Expanding the CRISPR imaging toolset with Staphylococcus aureus Cas9 for simultaneous imaging of mutiple genomic loci.
	p.authors  Baohui Chen, Jeffrey Hu, Ricardo Almeida, Harrison Liu, Sanjeev Balakrishnan, Christian Covill-Cooke, Wendell A. Lim, and Bo Huang. <br/> <em>Nucleic Acids Research.</em> 2016
	p.abstract  In order to elucidate the functional organization of the genome, it is vital to directly visualize the interactions between genomic elements in living cells. For this purpose, we engineered the Cas9 protein from <em>Staphylococcus aureus</em> (SaCas9) for the imaging of endongenous genomic loci, which showed a similar robustness and efficiency as previousl reported for <em>Streptococcus pyogenes</em> Cas9 (SpCas9). Imaging readouts allowed us to characterize the DNA-binding activity of SaCas9 and to optimize its sgRNA scaffold. Combining SaCas9 and SpCas9, we demonstrated two-color CRISPR imaging with the capability to resolve genomic loci space by less than 300 kb. Combinatorial color-mixing further enabled us to code multiple genomic elements in the same cell. Our results highlight the potential of combining SpCas9 and SaCas9 for multiplexed CRISPR-Cas9 applications, such as imaging and genome engineering.
	p.extras 
	|<p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>