extends ./papers.jade
block content
	|   <p class="title">Structure of the N-WASP EVH1 Domain-WIP 
	|     Complex: Insight into the Molecular Basis
	|     of Wiskott-Aldrich Syndrome</p>
	|   <p class="authors">Brian F. Volkman, Kenneth E. Prehoda, Jessica A. 
	|     Scott, Francis C. Peterson, and Wendell A. Lim<br>
	|     <em>Cell</em> 111, 565&#8211;576 (2002) </p>
	|   <p class="abstract">Missense mutants that 
	|     cause the immune disorder Wiskott-Aldrich Syndrome (WAS) map primarily to 
	|     the Enabled/VASP homology 1 (EVH1) domain of the actin regulatory protein 
	|     WASP. This domain has been implicated in both peptide and phospholipid binding. 
	|     We show here that the N-WASP EVH1 domain does not bind phosphatidyl inositol-(4,5)-bisphosphate, 
	|     as previously reported, but does specifically bind a 25 residue motif from 
	|     the WASP Interacting Protein (WIP). The NMR structure of the complex reveals 
	|     a novel recognition mechanism-the WIP ligand, which is far longer than canonical 
	|     EVH1 ligands, wraps around the domain, contacting a narrow but extended surface. 
	|     This recognition mechanism provides a basis for understanding the effects 
	|     of mutations that cause WAS. </p>    
	|   <p class="extras"><a href="pdfs/bfv_2002.pdf" target="_blank">PDF</a><br>
	|   <a href="bfv_2002_sup.html">Supplemental Data</a></p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
