extends ./papers.jade
block content
	|   <p class="title">Unexpected Modes of PDZ Domain Scaffolding 
	|     Revealed by Structure of nNOS-Syntrophin Complex</p>
	|   <p class="authors"> Brian J. Hillier, Karen S. Christopherson, Kenneth E. Prehoda, David S. Bredt, 
	|     and Wendell A. Lim<br>
	|     <i>Science</i> 284, 812-815 (1999) </p>
	|   <p class="abstract">The PDZ protein interaction 
	|     domain of neuronal nitric oxide synthase (nNOS) can heterodimerize with the 
	|     PDZ domains of postsynaptic density protein 95 and syntrophin through interactions 
	|     that are not mediated by recognition of a typical carboxyl-terminal motif. 
	|     The nNOS-syntrophin PDZ complex structure revealed that the domains interact 
	|     in an unusual linear head-to-tail arrangement. The nNOS PDZ domain has two 
	|     opposite interaction surfaces-one face has the canonical peptide binding groove, 
	|     whereas the other has a beta-hairpin &quot;finger.&quot; This nNOS beta finger 
	|     docks in the syntrophin peptide binding groove, mimicking a peptide ligand, 
	|     except that a sharp beta turn replaces the normally required carboxyl terminus. 
	|     This structure explains how PDZ domains can participate in diverse interaction 
	|     modes to assemble protein networks. </p>    
	|   <p class="extras"><a href="pdfs/bjh_1999.pdf" target="_blank">PDF</a><br>
	|   <a href="pdfs/bjh_1999_comm.pdf" target="_blank">Commentary
	|   in<em> Nature Structural Biology</em> by Hartmut Oschkinat</a>
	|   </p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
