extends ./papers.jade
block content
	|   <p class="title">Synthetic biology: lessons from the history of synthetic organic chemistry</p>
	|   <p class="authors">Brian J. Yeh and Wendell A. Lim<br />
	| <em>Nature Chemical Biology</em> 3, 521-5 (2007) </p>
	|   <p class="abstract">The mid-nineteenth century saw the development of a radical new direction in chemistry: instead of simply analyzing existing molecules, chemists began to synthesize them--including molecules that did not exist in nature. The combination of this new synthetic approach with more traditional analytical approaches revolutionized chemistry, leading to a deep understanding of the fundamental principles of chemical structure and reactivity and to the emergence of the modern pharmaceutical and chemical industries. The history of synthetic chemistry offers a possible roadmap for the development and impact of synthetic biology, a nascent field in which the goal is to build novel biological systems. </p>    
	|   <p class="extras"><a href="pdfs/bjy_2007b.pdf">PDF</a></p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
