extends ./papers.jade
block content
	|   <p class="title">Mechanism 
	|     and role of PDZ domains in signaling complex assembly</p>
	|   <p class="authors">Baruch Z. Harris and Wendell A. Lim<br>
	|     <i>Journal of Cell Science</i> 114, 3219-3231 (2001) </p>
	|   <p class="abstract"> PDZ domains are protein-protein recognition modules that play a central role 
	|     in organizing diverse cell signaling assemblies. These domains specifically 
	|     recognize short C-terminal peptide motifs, but can also recognize internal 
	|     sequences that structurally mimic a terminus. PDZ domains can therefore be 
	|     used in combination to bind an array of target proteins or to oligomerize 
	|     into branched networks. Several PDZ-domain-containing proteins play an important 
	|     role in the transport, localization and assembly of supramolecular signaling 
	|     complexes. Examples of such PDZ-mediated assemblies exist in Drosophila photoreceptor 
	|     cells and at mammalian synapses. The predominance of PDZ domains in metazoans 
	|     indicates that this highly specialized scaffolding module probably evolved 
	|     in response to the increased signaling needs of multicellular organisms.  </p>    
	|   <p class="extras"><a href="pdfs/bzh_2001b.pdf" target="_blank">PDF</a></p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
