extends ./papers.jade
block content
	|   <p class="title">Coordinated 
	|     folding and association of the LIN-2, -7 (L27) domain: An obligate heterodimerization 
	|     involved in assembly of signaling and cell polarity complexes</p>
	|   <p class="authors">Baruch 
	|     Z. Harris, Shivkumar Venkatasubrahmanyam, and Wendell A. Lim<strong><br>
	|     </strong><em>Journal of Biological Chemistry</em> 277, 34902-34908 (2002) </p>
	|   <p class="abstract">LIN-2, -7 (L27) homology 
	|     domains are putative protein-protein interaction modules found in several 
	|     scaffold proteins involved in the assembly of polarized cell-signaling structures. 
	|     These specific interaction pairs are well conserved across metazoan species, 
	|     from worms to man. We have expressed and purified L27 domains from multiple 
	|     species and find that certain domains from proteins such as Caenorhabditis 
	|     elegans LIN-2 and LIN-7 can specifically heterodimerize. Biophysical analysis 
	|     of interacting L27 domains demonstrates that the domains interact with a 1:1 
	|     stoichiometry. Circular dichroism studies reveal that the domains appear to 
	|     function as an obligate heterodimer; individually the domains are largely 
	|     unfolded, but when associated they show a significant increase in helicity, 
	|     as well as a cooperative unfolding transition. These novel obligate interacting 
	|     pairs are likely to play a key role in regulating the organization of signaling 
	|     proteins at polarized cell structures. </p>    
	|   <p class="extras"><a href="pdfs/bzh_2002.pdf" target="_blank">PDF</a></p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
