extends ./papers.jade
block content
	|   <p class="title">Using engineered scaffold interactions to reshape MAP kinase pathway signaling dynamics</p>
	|   <p class="authors">Caleb J. Bashor, Noah C. Helman, Shude Yan, and Wendell A. Lim<br>
	| <em>Science</em> 319, 1539-43 (2008) </p>
	|   <p class="abstract">Scaffold proteins link signaling molecules into linear pathways by physically assembling them into complexes. Scaffolds may also have a higher-order role as signal-processing hubs, serving as the target of feedback loops that optimize signaling amplitude and timing. We demonstrate that the Ste5 scaffold protein can be used as a platform to systematically reshape output of the yeast mating MAP kinase pathway. We constructed synthetic positive- and negative-feedback loops by dynamically regulating recruitment of pathway modulators to an artificial binding site on Ste5. These engineered circuits yielded diverse behaviors: ultrasensitive dose response, accelerated or delayed response times, and tunable adaptation. Protein scaffolds provide a flexible platform for reprogramming cellular responses and could be exploited to engineer cells with novel therapeutic and biotechnological functions. </p>    
	|   <p class="extras"><a href="pdfs/cjb_2008.pdf" target="_blank">PDF</a><br>
	|   <a href="pdfs/cjb_2008_sup.pdf" target="_blank">Supplemental Data</a><br>
	|   <a href="pdfs/cjb_2008_comm.pdf">Commentary in <em>Science</em> by Peter M. Pryciak</a><br>
	|   <a href="pdfs/cjb_2008_comm2.pdf">Commentary in <em>Nature Biotechnology </em> by Patrick Guye and Ron Weiss</a>
	|   </p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
