extends ./papers.jade
block content
	p.title Remote control of therapeutic T cells through a small molecule-gated chimeric receptor
	p.authors Chia-Yung Wu, Kole T. Roybal, Elias M. Puchner, James Onuffer, Wendell A. Lim.. <br/> <em>Science</em> 2015 Sep 24.
	p.abstract There is growing promise in using engineered cells as therapeutic agents. For example, synthetic Chimeric Antigen Receptors (CARs) can redirect T cells to recognize and eliminate tumor cells expressing specific antigens. Despite promising clinical results, excessive activity and poor control over such engineered T cells can cause severe toxicities. We present the design of “ON-switch” CARs that enable small molecule-control over T cell therapeutic functions, while still retaining antigen specificity. In these split receptors, antigen binding and intracellular signaling components only assemble in the presence of a heterodimerizing small molecule. This titratable pharmacologic regulation could allow physicians to precisely control the timing, location, and dosage of T cell activity, thereby mitigating toxicity. This work illustrates the potential of combining cellular engineering with orthogonal chemical tools to yield safer therapeutic cells that tightly integrate both cell autonomous recognition and user control.
	p.extras 
	|<p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>