extends ./papers.jade
block content
	|   <p class="title">Evolution of the phospho-tyrosine signaling machinery in premetazoan lineages </p>
	|   <p class="authors">David Pincus, Ivica Letunic, Peer Bork, and Wendell A. Lim<br>
	| <em>Proceedings of the National Academy of Sciences</em> 105, 9680-4 (2008) </p>
	|   <p class="abstract">Multicellular animals use a three-part molecular toolkit to mediate phospho-tyrosine signaling: Tyrosine kinases (TyrK), protein tyrosine phosphatases (PTP), and Src Homology 2 (SH2) domains function, respectively, as &quot;writers,&quot; &quot;erasers,&quot; and &quot;readers&quot; of phospho-tyrosine modifications. How did this system of three components evolve, given their interdependent function? Here, we examine the usage of these components in 41 eukaryotic genomes, including the newly sequenced genome of the choanoflagellate, Monosiga brevicollis, the closest known unicellular relative to metazoans. This analysis indicates that SH2 and PTP domains likely evolved earliest-a handful of these domains are found in premetazoan eukaryotes lacking tyrosine kinases, most likely to deal with limited tyrosine phosphorylation cross-catalyzed by promiscuous Ser/Thr kinases. Modern TyrK proteins, however, are only observed in two lineages, metazoans and choanoflagellates. These two lineages show a dramatic coexpansion of all three domain families. Concurrent expansion of the three domain families is consistent with a stepwise evolutionary model in which preexisting SH2 and PTP domains were of limited utility until the appearance of the TyrK domain in the last common ancestor of metazoans and choanoflagellates. The emergence of the full three-component signaling system, with its dramatically increased encoding potential, may have contributed to the advent of metazoan multicellularity. </p>    
	|   <p class="extras"><a href="pdfs/dp_2008.pdf" target="_blank">PDF</a><br>
	|   <a href="pdfs/dp_2008_sup.pdf" target="_blank">Supplemental Data</a><br>
	|   <a href="pdfs/dp_2008_comm.pdf">Commentary in <em>Proceedings of the National Academy of Sciences</em> by Bruce Mayer</a>
	|    </p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
