extends ./papers.jade
block content
	|   <p class="title">Sending mixed messages for cell population control.</p>
	|   <p class="authors">Hyun Youk and Wendell A. Lim<br/>
	|   <em>Cell</em> 158: 973-975 (2014)</p>
	|           <p>Cells often receive signals to proliferate, but how population density is controlled is unclear. Hart et al. now show that a single secreted molecule that instructs both proliferation and death in T cells establishes a bistable response: the population is driven to either extinction or to a homeostatically defined density.</p>
	|   <p class="extras"><a href="pdfs/hyouk_Cell_2014.pdf" target="_blank">PDF</a><br>
	|<p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>