extends ./papers.jade
block content
	|   <p class="title">Engineering synthetic signaling proteins with ultrasensitive input/output control</p>
	|   <p class="authors">John E. Dueber, Ethan A. Mirsky, and Wendell A. Lim <br>
	|     <em>Nature Biotechnology</em> 25, 660-662 (2007) </p>
	|   <p class="abstract">Many signaling proteins are built from simple, modular components, yet display highly complex signal-processing behavior. Here we explore how modular domains can be used to build an ultrasensitive switch-a nonlinear input/output function that is central to many complex biological behaviors. By systematically altering the number and affinity of modular autoinhibitory interactions, we show that we can predictably convert a simple linear signaling protein into an ultrasensitive switch.</p>    
	|   <p class="extras"><a href="pdfs/jed_2007.pdf" target="_blank">PDF</a><br>
	|   <a href="pdfs/jed_2007_sup.pdf" target="_blank">Supplemental Data</a>
	|   </p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
