extends ./papers.jade
block content
	|   <p class="title">Reprogramming Control of an Allosteric
	|     Signaling Switch Through Modular Recombination </p>
	|   <p class="authors">John E. Dueber, Brian J. Yeh, Kayam Chak, and
	|     Wendell A. Lim<br>
	|     <em>Science</em> 301, 1904-1908 (2003) </p>
	|   <p class="abstract">Many eukaryotic
	|       signaling proteins are composed of simple modular binding domains, yet
	|       they can display sophisticated behaviors such as allosteric gating and
	|       multi-input signal integration, properties essential for complex cellular
	|       circuits. To understand how such behavior can emerge from combinations
	|       of simple domains, we engineered variants of the actin regulatory protein
	|       N-WASP (neuronal Wiskott-Aldrich syndrome protein) in which the &#8220;output&#8221; domain
	|     of N-WASP was recombined with heterologous autoinhibitory &#8220;input&#8221; domains.
	|     Synthetic switch proteins were created with diverse gating behaviors in response
	|     to nonphysiological inputs. Thus, this type of modular framework can facilitate
	|     the evolution or engineering of cellular signaling circuits.</p>    
	|   <p class="extras"><a href="pdfs/jed_2003.pdf" target="_blank">PDF</a><br>
	|   <a href="pdfs/jed_2003_sup.pdf" target="_blank">Supplemental Data</a> </p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
