extends ./papers.jade
block content
	|   <p class="title">The promise of optogenetics in cell biology: interrogating molecular circuits in space and time</p>
	|   <p class="authors">Jared E. Toettcher, Christopher A. Voigt, Orion D. Weiner, Wendell A. Lim<br/>
	|   <em>Nature Methods</em> 1, 35-38 (2011)</p>
	|   <p class="abstract">Optogenetic modules offer cell biologists unprecedented new ways to poke and prod cells. The combination of these precision perturbative tools with observational tools, such as fluorescent proteins, may dramatically accelerate our ability to understand the inner workings of the cell.</p>    
	|   <p class="extras"><a href="pdfs/jet_2011.pdf" target="_blank">PDF</a></p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
