extends ./papers.jade
block content
	|   <p class="title">Using optogenetics to interrogate the dynamic control of signal transmission by the ras/erk module.</p>
	|   <p class="authors">Jared E. Toettcher, Orion D. Weiner, Wendell A. Lim<br/>
	|   <em>Cell</em> 155(6):1422-34 (2013)</p>
	|   <p class="abstract">The complex, interconnected architecture of cell-signaling networks makes it challenging to disentangle how cells process extracellular information to make decisions. We have developed an optogenetic approach to selectively activate isolated intracellular signaling nodes with light and use this method to follow the flow of information from the signaling protein Ras. By measuring dose and frequency responses in single cells, we characterize the precision, timing, and efficiency with which signals are transmitted from Ras to Erk. Moreover, we elucidate how a single pathway can specify distinct physiological outcomes: by combining distinct temporal patterns of stimulation with proteomic profiling, we identify signaling programs that differentially respond to Ras dynamics, including a paracrine circuit that activates STAT3 only after persistent (>1 hr) Ras activation. Optogenetic stimulation provides a powerful tool for analyzing the intrinsic transmission properties of pathway modules and identifying how they dynamically encode distinct outcomes.</p>    
	|   <p class="extras"><a href="pdfs/jet_2013.pdf" target="_blank">PDF</a><br>
	|   <a href="pdfs/jet_2013_supp.pdf" target="_blank">Supplemental Data</a><br>
	|   <a href="pdfs/jet_2013_m1.mp4" target="_blank">Supplemental Movie 1</a><br>
	|   <a href="pdfs/jet_2013_m2.mp4" target="_blank">Supplemental Movie 2</a><br>
	|    <a href="papers/pdfs/jet_2013_RPPA_dataset.xlsx" target="_blank">RPPA data</a>
	|   </p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
