extends ./papers.jade
block content
	|   <p class="title">Light Control of Plasma Membrane Recruitment Using the Phy-PIF System</p>
	|   <p class="authors">Jared E. Toettcher, Delquin Gong, Wendell A. Lim, Orion D. Weiner<br>
	| <em>Methods Enzymology</em> 497, 409-23 (2011)</p>
	|   <p class="abstract">The ability to control the activity of intracellular signaling processes in live cells would be an extraordinarily powerful tool. Ideally, such an intracellular input would be (i) genetically encoded, (ii) able to be turned on and off in defined temporal or spatial patterns, (iii) fast to switch between on and off states, and (iv) orthogonal to other cellular processes. The light-gated interaction between fragments of two plant proteins-termed Phy and PIF-satisfies each of these constraints. In this system, Phy can be switched between two conformations using red and infrared light, while PIF only binds one of these states. This chapter describes known constraints for designing genetic constructs using Phy and PIF and provides protocols for expressing these constructs in mammalian cells, purifying the small molecule chromophore required for the system's light responsivity, and measuring light-gated binding by microscopy.</p>    
	|   <p class="extras"><a href="pdfs/jet_2011b.pdf" target="_blank">PDF</a><br>
	|    </p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
