extends ./papers.jade
block content
	|   <p class="title">Light-based feedback for controlling intracellular signaling dynamics</p>
	|   <p class="authors">Jared E. Toettcher, Delquin Gong, Wendell A. Lim, Orion D. Weiner<br>
	| <em>Nature Methods</em> 8, 837-839 (2011)</p>
	|   <p class="abstract">The ability to apply precise inputs to signaling species in live cells would be transformative for interrogating and understanding complex cell-signaling systems. Here we report an 'optogenetic' method for applying custom signaling inputs using feedback control of a light-gated protein-protein interaction. We applied this strategy to perturb protein localization and phosphoinositide 3-kinase activity, generating time-varying signals and clamping signals to buffer against cell-to-cell variability or changes in pathway activity.</p>    
	|   <p class="extras"><a href="pdfs/jet_2011c.pdf" target="_blank">PDF</a><br>
	|   <a href="pdfs/jet_2011c_supp.pdf" target="_blank">Supplemental Data</a><br>
	|   <a href="pdfs/jet_2011c_software.zip" target="_blank">Supplemental Software</a><br>
	|    </p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
