extends ./papers.jade
block content
	p.title Engineering Therapeutic T cells: From Synthetic Biology to Clinical Trials.
	p.authors  Jonathan H. Esensten, Jeffrey A. Bluestone, Wendell A. Lim. <br/> <em>Annu Rev Pathol</em> 2017
	p.abstract Engineered T cells are currently in clinical trials to treat patients with cancer, solid organ transplants, and autoimmune diseases. However, the field is still in its infancy. The design, and manufacturing, of T cell therapies is not standardized and is performed mostly in academic settings by competing groups. Reliable methods to define dose and pharmacokinetics of T cell therapies need to be developed. As of mid-2016, there are no US Food and Drug Administration (FDA)–approved T cell therapeutics on the market, and FDA regulations are only slowly adapting to the new technologies. Further development of engineered T cell therapies requires advances in immunology, synthetic biology, manufacturing processes, and government regulation. In this review, we outline some of these challenges and discuss the contributions that pathologists can make to this emerging field.
	p.extras 
	|<p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>