extends ./papers.jade
block content
	|   <p class="title">Improving SH3 domain ligand selectivity 
	|     using a non-natural scaffold</p>
	|   <p class="authors">Jack T. Nguyen, Margaret Porter, Mehran Amoui, W. Todd Miller, Ronald N. Zuckermann 
	|     and Wendell A. Lim<br>
	|     <i>Chemistry &amp; Biology</i> 7, 463-473 (2000)</p>
	|   <p class="abstract">BACKGROUND: Src homology 
	|     3 (SH3) domains bind sequences bearing the consensus motif PxxP (where P is 
	|     proline and x is any amino acid), wherein domain specificity is mediated largely 
	|     by sequences flanking the PxxP core. This specificity is limited, however, 
	|     as most SH3 domains show high ligand cross-reactivity. We have recently shown 
	|     that diverse N-substituted residues (peptoids) can replace the prolines in 
	|     the PxxP motif, yielding a new source of ligand specificity.   
	|     <br><br>
	|     RESULTS: We have tested 
	|     the effects of combining multiple peptoid substitutions with specific flanking 
	|     sequences on ligand affinity and specificity. We show that by varying these 
	|     different elements, a ligand can be selectively tuned to target a single SH3 
	|     domain in a test set. In addition, we show that by making multiple peptoid 
	|     substitutions, high-affinity ligands can be generated that completely lack 
	|     the canonical PxxP motif. The resulting ligands can potently disrupt natural 
	|     SH3-mediated interactions. 
	|     <br><br>
	|     CONCLUSIONS: Peptide-peptoid 
	|     hybrid scaffolds yield SH3 ligands with markedly improved domain selectivity, 
	|     overcoming one of the principal challenges in designing inhibitors against 
	|     these domains. These compounds represent important leads in the search for 
	|     orthogonal inhibitors of SH3 domains, and can serve as tools for the dissection 
	|     of complex signaling pathways.</p>
	|   <p class="extras"><a href="pdfs/jtn_2000.pdf" target="_blank">PDF</a></p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
