extends ./papers.jade
block content
	|   <p class="title">Exploiting the Basis of Proline Recognition 
	|     by SH3 and WW Domains: Design of N-Substituted Inhibitors </p>
	|   <p class="authors">Jack T. Nguyen, Christoph W. Turck, Fred E. Cohen, Ronald N. Zuckermann, and 
	|     Wendell A. Lim<br>
	|     <i>Science</i> 282, 2088-2092 (1998)</p>
	|   <p class="abstract">Src homology 3 (SH3) 
	|     and WW protein interaction domains bind specific proline-rich sequences. However, 
	|     instead of recognizing critical prolines on the basis of side chain shape 
	|     or rigidity, these domains broadly accepted amide N-substituted residues. 
	|     Proline is apparently specifically selected in vivo, despite low complementarity, 
	|     because it is the only endogenous N-substituted amino acid. This discriminatory 
	|     mechanism explains how these domains achieve specific but low-affinity recognition, 
	|     a property that is necessary for transient signaling interactions. The mechanism 
	|     can be exploited: screening a series of ligands in which key prolines were 
	|     replaced by nonnatural N-substituted residues yielded a ligand that selectively 
	|     bound the Grb2 SH3 domain with 100 times greater affinity. </p>    
	|   <p class="extras"><a href="pdfs/jtn_1998.pdf" target="_blank">PDF</a><br>
	|   <a href="pdfs/jtn_1998_comm.pdf" target="_blank">Commentary
	|   in <em>Chemistry and Biology</em> by Behzad Aghazadeh and Michael K. Rosen</a>
	|   </p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
