extends ./papers.jade
block content
	|   <p class="title">Structure of the Enabled/VASP Homology 
	|     1 Domain&#150;Peptide Complex: A Key Component in the Spatial Control of Actin 
	|     Assembly</p>
	|   <p class="authors">Kenneth E. Prehoda, Do. J. Lee, and Wendell A. Lim<br>
	|     <i>Cell</i> 97, 471-480 (1999) </p>
	|   <p class="abstract">The Enabled/VASP homology 
	|     1 (EVH1; also called WH1) domain is an interaction module found in several 
	|     proteins implicated in actin-based cell motility. EVH1 domains bind the consensus 
	|     proline-rich motif FPPPP and are required for targeting the actin assembly 
	|     machinery to sites of cytoskeletal remodeling. The crystal structure of the 
	|     mammalian Enabled (Mena) EVH1 domain complexed with a peptide ligand reveals 
	|     a mechanism of recognition distinct from that used by other proline-binding 
	|     modules. The EVH1 domain fold is unexpectedly similar to that of the pleckstrin 
	|     homology domain, a membrane localization module. This finding demonstrates 
	|     the functional plasticity of the pleckstrin homology fold as a binding scaffold 
	|     and suggests that membrane association may play an auxiliary role in EVH1 
	|     targeting.</p>    
	|   <p class="extras"><a href="pdfs/kep_1999.pdf" target="_blank">PDF</a></p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
