extends ./papers.jade
block content
	|   <p class="title">How signaling proteins integrate multiple inputs: a comparison 
	|   of N-WASP and Cdk2</p>
	|   <p class="authors">Kenneth E. Prehoda and Wendell A. Lim<br>
	|   <em>Current Opinion in Cell Biology</em>14, 149-154 (2002)
	|   </p>
	|   <p class="abstract">Signal transduction proteins that can integrate multiple 
	|     upstream signals play a critical role in the complex regulatory circuits that 
	|     control cellular behavior. The two signaling node proteins cyclin-dependent 
	|     kinase 2 and the actin regulator neuronal Wiskott-Aldrich syndrome protein 
	|     have qualitatively similar signaling properties. Recent studies, however, 
	|     reveal that these proteins utilize distinct mechanisms of signal integration, 
	|     leading to subtle but important quantitative differences in behavior.</p>    
	|   <p class="extras"><a href="pdfs/kep_2002.pdf" target="_blank">PDF</a></p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
