extends ./papers.jade
block content
	|   <p class="title">The double life of PX domains </p>
	|   <p class="authors">Kenneth E. Prehoda and Wendell A. Lim<br>
	|     <i>Nature Structural Biology</i> 8, 570-572 (2001)</p>
	|   <p class="abstract">Recent structural and cell biological studies show that the previously uncharacterized 
	|     PX domain can bind both phospholipids and SH3 domains, suggesting that this 
	|     module may play a critical role in coordinating membrane localization and 
	|     protein complex assembly during cell signaling. </p>    
	|   <p class="extras"><a href="pdfs/kep_2001.pdf" target="_blank">PDF</a></p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
