extends ./papers.jade
block content
	|   <p class="title">PSD-95 Assembles a Ternary Complex 
	|     with the N-Methyl-D-aspartic Acid Receptor and a Bivalent Neuronal NO Synthase 
	|     PDZ Domain</p>
	|   <p class="authors">Karen S. Christopherson, Brian J. Hillier, Wendell A. Lim, and David S. Bredt<br>
	|     <i>Journal of Biological Chemistry</i> 274, 27467-27473 (1999)</p>
	|   <p class="abstract">Nitric oxide (NO) biosynthesis 
	|     in cerebellum is preferentially activated by calcium influx through N-methyl-D-aspartate 
	|     (NMDA)-type glutamate receptors, suggesting that there is a specific link 
	|     between these receptors and neuronal NO synthase (nNOS). Here, we find that 
	|     PSD-95 assembles a postsynaptic protein complex containing nNOS and NMDA receptors. 
	|     Formation of this complex is mediated by the PDZ domains of PSD-95, which 
	|     bind to the COOH termini of specific NMDA receptor subunits. In contrast, 
	|     nNOS is recruited to this complex by a novel PDZ-PDZ interaction in which 
	|     PSD-95 recognizes an internal motif adjacent to the consensus nNOS PDZ domain. 
	|     This internal motif is a structured &quot;pseudo-peptide&quot; extension of 
	|     the nNOS PDZ that interacts with the peptide-binding pocket of PSD-95 PDZ2. 
	|     This asymmetric interaction leaves the peptide-binding pocket of the nNOS 
	|     PDZ domain available to interact with additional COOH-terminal PDZ ligands. 
	|     Accordingly, we find that the nNOS PDZ domain can bind PSD-95 PDZ2 and a COOH-terminal 
	|     peptide simultaneously. This bivalent nature of the nNOS PDZ domain further 
	|     expands the scope for assembly of protein networks by PDZ domains.</p>    
	|   <p class="extras"><a href="pdfs/ksc_1999.pdf" target="_blank">PDF</a></p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
