extends ./papers.jade
block content
	p.title Precision tumor recognition by T cells with combinatorial antigen-sensing circuits.
	p.authors  Kole T. Roybal, Levi J. Rupp, Leonardo Morsut, Whitney J. Walker, Krista A. McNally, Jason S. Park, Wendell A. Lim. <br/> <em>Cell</em> 2016
	p.abstract  T cells can be re-directed to kill cancer cells using chimeric antigen receptors (CARs) or T cell receptors (TCRs). This approach, however, is constrained by the rarity of tumor-specific single antigens. Targeting antigens also found on bystander tissues can cause life-threatening adverse effects. A powerful way to enhance ON-target activity of therapeutic T cells is to engineer them to require combinatorial antigens. Here, we engineer a combinatorially activated T cell circuit in which a synthetic Notch receptor for one antigen induces the expression of a CAR for a second antigen. These dual-receptor AND-gate T cells are only armed and activated in the presence of dual antigen tumor cells. These T cells show precise therapeutic discrimination in vivo—sparing single antigen ‘‘bystander’’ tumors while efficiently clearing combinatorial antigen ‘‘disease’’ tumors. This type of precision dual-receptor circuit opens the door to immune recognition of a wider range of tumors.
	p.extras 
	|<p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>