extends ./papers.jade
block content
	|   <p class="title">A
	|     general model for preferential hetero-oligomerization of Lin-2/7 domains:
	|     Mechanism underlying directed assembly of supramolecular signaling complexes</p>
	|   <p class="authors">Keiko Y. Petrosky, Horng D. Ou, Frank L&ouml;hr, Volker D&ouml;tsch, and Wendell
	| A. Lim<br>
	|   <em>Journal of Biological Chemistry </em>280, 38528-38536 (2005)</p>
	|   <p class="abstract">Lin-2/7 (L27) domains are protein interaction modules that
	|     preferentially hetero-oligomerize, a property critical for their function
	|     in directing specific assembly of supramolecular signaling complexes at synapses
	|     and other polarized cell-cell junctions. We have solved the solution structure
	|     of the heterodimer composed of the L27 domains from Lin-2 and Lin-7. Comparison
	|     of this structure with other L27 structures has allowed us to formulate a
	|     general model for why most L27 domains form an obligate heterodimer complex.
	|     L27 domains can be divided in two types (A and B) with each heterodimer comprising
	|     an A/B pair. We have identified two keystone positions that play a central
	|     role in discrimination. The residues at these positions are energetically
	|     acceptable in the context of an A/B heterodimer but would lead to packing
	|     defects or electrostatic repulsion in the context of A/A and B/B homodimers.
	|     As predicted by the model, mutations of keystone residues stabilize normally
	|     strongly disfavored homodimers. Thus L27 domains are specifically optimized
	|   to avoid homodimeric interactions.</p>    
	|   <p class="extras"><a href="pdfs/kyp_2005.pdf" target="_blank">PDF</a> <br>
	|   </p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
