extends ./papers.jade
block content
	p.title Interrogating cellular perception and decision making with optogenetic tools.
	p.authors  Lukasz J. Bugaj, Geoff P. O'Donoghue, Wendell A. Lim. <br/> <em>J. Cell Biol</em> 2017
	p.abstract Optogenetics promises to deepen our understanding of how cells perceive and respond to complex and dynamic signals and how this perception regulates normal and abnormal function. In this study, we present our vision for how these nascent tools may transform our view of fundamental cell biological processes.
	p.extras 
	|<p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>