extends ./papers.jade
block content
	|   <p class="title">Repurposing CRISPR as an RNA-Guided Platform for Sequence-Specific Control of Gene Expression.</p>
	|   <p class="authors">Lei S. Qi, Matthew H. Larson, Luke A. Gilbert, Jennifer A. Doudna, Jonathan S. Weissman, Adam P. Arkin, Wendell A. Lim<br/>
	|   <em>Cell</em> 28;152(5):1173-83 (2013)</p>
	|   <p class="abstract">Targeted gene regulation on a genome-wide scale is a powerful strategy for interrogating, perturbing, and engineering cellular systems. Here, we develop a method for controlling gene expression based on Cas9, an RNA-guided DNA endonuclease from a type II CRISPR system. We show that a catalytically dead Cas9 lacking endonuclease activity, when coexpressed with a guide RNA, generates a DNA recognition complex that can specifically interfere with transcriptional elongation, RNA polymerase binding, or transcription factor binding. This system, which we call CRISPR interference (CRISPRi), can efficiently repress expression of targeted genes in Escherichia coli, with no detectable off-target effects. CRISPRi can be used to repress multiple target genes simultaneously, and its effects are reversible. We also show evidence that the system can be adapted for gene repression in mammalian cells. This RNA-guided DNA recognition platform provides a simple approach for selectively perturbing gene expression on a genome-wide scale.</p>    
	|   <p class="extras"><a href="pdfs/lsq_2013.pdf" target="_blank">PDF</a><br>
	|   <a href="pdfs/lsq_2013_supp.pdf" target="_blank">Supplemental Data</a><br>
	|   <a href="pdfs/lsq_2013_seq.pdf" target="_blank">Supplemental Sequences</a><br>
	|   </p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
