extends ./papers.jade
block content
	|   <p class="title">Cell-based therapeutics: the next pillar of medicine.</p>
	|   <p class="authors">Michael A. Fischbach, Jeffrey A. Bluestone, Wendell A. Lim<br/>
	|   <em>Science Translational Medicine</em> 5(179) (2013)</p>
	|   <p class="abstract">Two decades ago, the pharmaceutical industry-long dominated by small-molecule drugs-was revolutionized by the the advent of biologics. Today, biomedicine sits on the cusp of a new revolution: the use of microbial and human cells as versatile therapeutic engines. Here, we discuss the promise of this "third pillar" of therapeutics in the context of current scientific, regulatory, economic, and perceptual challenges. History suggests that the advent of cellular medicines will require the development of a foundational cellular engineering science that provides a systematic framework for safely and predictably altering and regulating cellular behaviors.</p>    
	|   <p class="extras"><a href="pdfs/maf_2013.pdf" target="_blank">PDF</a>
	|   </p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
