extends ./papers.jade
block content
	|   <p class="title">Scaffold proteins: hubs for controlling the flow of cellular information</p>
	|   <p class="authors">Matthew C. Good, Jesse G. Zalatan, Wendell A. Lim<br>
	| <em>Science</em> 332, 680-6 (2011)</p>
	|   <p class="abstract">The spatial and temporal organization of molecules within a cell is critical for coordinating the many distinct activities carried out by the cell. In an increasing number of biological signaling processes, scaffold proteins have been found to play a central role in physically assembling the relevant molecular components. Although most scaffolds use a simple tethering mechanism to increase the efficiency of interaction between individual partner molecules, these proteins can also exert complex allosteric control over their partners and are themselves the target of regulation. Scaffold proteins offer a simple, flexible strategy for regulating selectivity in pathways, shaping output behaviors, and achieving new responses from preexisting signaling components. As a result, scaffold proteins have been exploited by evolution, pathogens, and cellular engineers to reshape cellular behavior.</p>    
	|   <p class="extras"><a href="pdfs/mcg_2011.pdf" target="_blank">PDF</a><br>
	|   <a href="http://www.sciencemag.org/site/multimedia/video/332_6030_680/" target="_blank">Supplemental Video</a><br>
	|    </p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
