extends ./papers.jade
block content
	|   <p class="title">Build life to understand it</p>
	|   <p class="authors">Michael Elowitz, Wendell A. Lim<br>
	| <em>Nature</em> 468, 889-890 (2010)</p>
	|   <p class="abstract">Biologists and engineers should work together: synthetic biology reveals how organisms develop and function, argue Michael Elowitz and Wendell A. Lim.</p>    
	|   <p class="extras"><a href="pdfs/me_2010.pdf" target="_blank">PDF</a><br>
	|    </p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
