extends ./papers.jade
block content
	|   <p class="title">Engineering modular protein interaction switches by sequence overlap</p>
	|   <p class="authors">Nathan A. Sallee, Brian J. Yeh, and Wendell A. Lim <br>
	| <em>Journal of the American Chemical Society</em> 129, 4606-4611 (2007)</p>
	|   <p class="abstract">Many cellular signaling pathways contain proteins whose interactions change in response to upstream inputs, allowing for conditional activation or repression of the interaction based on the presence of the input molecule. The ability to engineer similar regulation into protein interaction elements would provide us with powerful tools for controlling cell signaling. Here we describe an approach for engineering diverse synthetic protein interaction switches. Specifically, by overlapping the sequences of pairs of protein interaction domains and peptides, we have been able to generate mutually exclusive regulation over their interactions. Thus, the hybrid protein (which is composed of the two overlapped interaction modules) can bind to either of the two respective ligands for those modules, but not to both simultaneously. We show that these synthetic switch proteins can be used to regulate specific protein-protein interactions in vivo. These switches allow us to disrupt an interaction with the addition or activation of a protein input that has no natural connection to the interaction in question. Therefore, they give us the ability to make novel connections between normally unrelated signaling pathways and to rewire the input/output relationships of cellular behaviors. Our experiments also suggest a possible mechanism by which complex regulatory proteins might have evolved from simpler components.</p>    
	|   <p class="extras"><a href="pdfs/nas_2007.pdf" target="_blank">PDF</a><br>
	|   <a href="pdfs/nas_2007_sup.pdf" target="_blank">Supplemental Data</a>
	|   </p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
