html 
	head
		include ../components/papers_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.s12
				span.part1 Lim Lab 
				span.part2 | Papers
		#content.container
			block content
				
		include ../components/footer.jade