extends ./papers.jade
block content
	p.title Modular engineering of cellular signaling proteins and networks.
	p.authors  Russell M. Gordley, Lukasz J. Bugaj, Wendell A. Lim. <br/> <em>Curr Opin Struct Biol.</em> 2016
	p.abstract  Living cells respond to their environment using networks of signaling molecules that act as sensors, information processors, and actuators. These signaling systems are highly modular at both the molecular and network scales, and much evidence suggests that evolution has harnessed this modularity to rewire and generate new physiological behaviors. Conversely, we are now finding that, following nature's example, signaling modules can be recombined to form synthetic tools for monitoring, interrogating, and controlling the behavior of cells. Here we highlight recent progress in the modular design of synthetic receptors, optogenetic switches, and phospho-regulated proteins and circuits, and discuss the expanding role of combinatorial design in the engineering of cellular signaling proteins and networks.
	p.extras 
	|<p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>