extends ./papers.jade
block content
	|   <p class="title">Domains,
	|     Motifs, and Scaffolds: The Role of Modular Interactions in the Evolution
	|     and Wiring of Cell Signaling Circuits</p>
	|   <p class="authors">Roby
	|     P. Bhattacharyya, Attila Rem&eacute;nyi,
	|     Brian J. Yeh, and Wendell A. Lim<br>
	|         <em><a href="http://arjournals.annualreviews.org/loi/biochem">Annual
	|     Review of Biochemistry</a> </em>75, 655-680 (2006) </p>
	|   <p class="abstract">Living cells
	|       display complex signal processing behaviors, many of which are mediated
	|       by networks of proteins specialized for signal transduction. Here we focus
	|       on the question of how the remarkably diverse array of eukaryotic signaling
	|       circuits may have evolved. Many of the mechanisms that connect signaling
	|       proteins into networks are highly modular: The core catalytic activity
	|       of a signaling protein is physically and functionally separable from molecular
	|       domains or motifs that determine its linkage to both inputs and outputs.
	|       This high degree of modularity may make these systems more evolvable&mdash;in
	|     principle, novel circuits, and therefore highly innovative regulatory behaviors,
	|     can arise from relatively simple genetic events such as recombination, deletion,
	|     or insertion. In support of this hypothesis, recent studies show that such
	|     modular systems can be exploited to engineer nonnatural signaling proteins
	|   and pathways with novel behavior.</p>    
	|   <p class="extras"><a href="pdfs/rpb_2006b.pdf" target="_blank">PDF</a></p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
