extends ./papers.jade
block content
	|   <p class="title">Rewiring MAP Kinase Pathways Using
	|     Alternative Scaffold Assembly Mechanisms</p>
	|   <p class="authors">Sang-Hyun Park, Ali Zarrinpar, and Wendell A.
	|     Lim<br>
	|     <em>Science</em> 299,
	|     1061-1064 (2003)</p>
	|   <p class="abstract">How scaffold proteins control information flow in signaling pathways is
	|     poorly understood: Do they simply tether components, or do they precisely
	|     orient and activate them? We find that the yeast mitogen-activated protein
	|     (MAP) kinase scaffold Ste5 is tolerant to major stereochemical perturbations;
	|     heterologous protein interactions can functionally replace native kinase
	|     recruitment interactions, indicating that simple tethering is largely sufficient
	|     for scaffold-mediated signaling. Moreover, by engineering a scaffold that
	|     tethers a unique kinase set, we can create a synthetic MAP kinase pathway
	|     with non-natural input-output properties. These findings demonstrate that
	|     scaffolds are highly flexible organizing factors that can facilitate pathway
	|   evolution. </p>    
	|   <p class="extras"><a href="pdfs/shp_2003.pdf" target="_blank">PDF</a><br>
	|   <a href="pdfs/shp_2003_sup.pdf" target="_blank">Supplemental Data</a><br>
	|   <a href="pdfs/shp_2003_comm2.pdf" target="_blank">Commentary
	|   in <em>Science</em> by Mark Ptashne and Alexander Gann</a><br>
	|   <a href="pdfs/shp_2003_comm.pdf" target="_blank">Commentary in <em>Molecular Cell</em> by
	|   James
	| E. Ferrell, Jr. and Karlene A.
	| Cimprich</a>
	|   </p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
