extends ./papers.jade
block content
	|   <p class="title">Exploitation of Latent Allostery Enables the Evolution of New Modes of MAP Kinase Regulation.</p>
	|   <p class="authors">Scott M. Coyle, Jonathan Flores, Wendell A. Lim<br/>
	|   <em>Cell</em> 154, 875-887 (2013)</p>
	|   <p class="abstract">Allosteric interactions provide precise spatiotemporal control over signaling proteins, but how allosteric activators and their targets coevolve is poorly understood. Here, we trace the evolution of two allosteric activator motifs within the yeast scaffold protein Ste5 that specifically target the mating MAP kinase Fus3. One activator (Ste5-VWA) provides pathway insulation and dates to the divergence of Fus3 from its paralog, Kss1; a second activator (Ste5-FBD) that tunes mating behavior is, in contrast, not conserved in most lineages. Surprisingly, both Ste5 activator motifs could regulate MAP kinases that diverged from Fus3 prior to the emergence of Ste5, suggesting that Ste5 activators arose by exploiting latent regulatory features already present in the MAPK ancestor. The magnitude of this latent allosteric potential drifts widely among pre-Ste5 MAP kinases, providing a pool of hidden phenotypic diversity that, when revealed by new activators, could lead to functional divergence and to the evolution of distinct signaling behaviors.</p>    
	|   <p class="extras"><a href="pdfs/smc_2013.pdf" target="_blank">PDF</a><br/>
	|   	<a href="pdfs/smc_2013_supp.pdf" target="_blank">Supplemental Data</a>
	|   </p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
