extends ./papers.jade
block content
	|   <p class="title">Reengineering the signaling properties of a Src family kinase</p>
	|   <p class="authors">Shalini S. Yadav, Brian J. Yeh, Barbara P. Craddock, Wendell A. Lim, and W. Todd Miller<br>
	|   <em>Biochemistry</em> 48, 10956-10962 (2009)
	|   </p>
	|   <p class="abstract">Src family kinases (SFKs) are modular signaling proteins possessing SH3, SH2, and tyrosine kinase domains. The SH3 and SH2 domains of SFKs have dual roles: they regulate the activity of the kinases, and they also target SFKs to their cellular substrates. We generated a series of novel SFKs by replacing the SH2 and SH3 domains of Hck with the syntrophin PDZ domain. In some constructs, the negative regulatory tyrosine in the C-terminal tail was also replaced with a PDZ ligand sequence. When expressed in mammalian cells, the substrate specificity of the PDZ-kinases was directed to a different group of proteins than wild-type Hck. The PDZ-kinases phosphorylate neuronal nitric oxide synthase (nNOS), a known binding partner of the syntrophin PDZ domain. We also introduced a PDZ ligand at the C-terminus of the adaptor protein Cas. PDZ-Hck kinases phosphorylate the engineered Cas protein in Cas(-/-) cells and restore the migration defect of these cells. A PDZ-kinase was also functional in rewiring MAPK signaling via an engineered ErbB2 construct containing a PDZ ligand sequence. Several of the PDZ-kinases show autoregulatory properties similar to natural SFKs. Thus, the PDZ-ligand interaction is able to functionally replace the normal SH2-pY527 interaction that regulates SFKs. Our data highlight the modularity and evolvability of signaling proteins. </p>    
	|   <p class="extras"><a href="pdfs/ssy_2009.pdf" target="_blank">PDF</a><br>
	|    <a href="pdfs/ssy_2009_supp.pdf" target="_blank">Supplemental Data</a></p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
