extends ./papers.jade
block content
	|   <p class="title">TITLE</p>
	|   <p class="authors">AUTHORS </p>
	|   <p class="abstract">ABSTRACT </p>    
	|   <p class="extras">LINKS</p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
