extends ./papers.jade
block content
	|   <p class="title">The modular logic of signaling proteins: building  allosteric switches from simple binding domains</p>
	|   <p class="authors">Wendell A. Lim<br>  <em>Current Opinion in Structural Biology</em> 12, 61-68 (2002)</p>
	|   <p class="abstract">Many eukaryotic signal transduction proteins have component-based 
	|     architectures: they are built from combinations of protein interaction domains 
	|     and catalytic domains. Intact, these proteins display the sophisticated allosteric 
	|     behavior required for cellular regulation; the protein&#8217;s output activity 
	|     is tightly repressed under basal conditions, but can be robustly activated 
	|     by a specific set of input effector ligands. A combination of structural, 
	|     biophysical and computational studies is beginning to shed light on the fundamental 
	|     principles governing this type of modular allostery.</p>    
	|   <p class="extras"><a href="pdfs/wal_2002.pdf" target="_blank">PDF</a>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a><br>
