extends ./papers.jade
block content
	p.title Cell Biology 2.0
	p.authors Wendell A. Lim, Rebecca Alvania, and Wallace F. Marshall
		| <br> <em>Trends Cell Biol.</em> 22(12):611-2 (2013)
	p.abstract Synthetic Cell Biology sounds intriguing, but the name begs the question -- why should we try to rebuild or reprogram the cell, especially when we barely understand how cells work? This issue of TiCB explores this emerging area in which scientists are taking apart, rebuilding, reprogramming, and repurposing parts of the cell. The reviews cover a wide range of scales, from microscopic molecular machines to macroscopic, multicellular tissues. These reviews highlight the fact that, in addition to its role in harnessing and unleashing the power of cells for new and future applications, synthetic biology also has an important role to play in facilitating the understanding of complex cellular processes. In short, we can learn much about cells through the process of trying to build them (or parts of them). And if we understand cells, we can start to really harness their power.
	p.extras
		a(href='pdfs/wal_2013b.pdf') PDF
	|<p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>

