extends ./papers.jade
block content
	|   <p class="title">Phosphotyrosine signaling: evolving a new cellular communication system</p>
	|   <p class="authors">Wendell A. Lim, Tony Pawson<br>
	| <em>Cell</em> 142, 661-667 (2010)</p>
	|   <p class="abstract">Tyrosine phosphorylation controls many cellular functions. Yet the three-part toolkit that regulates phosphotyrosine signaling-tyrosine kinases, phosphotyrosine phosphatases, and Src Homology 2 (SH2) domains-is a relatively new innovation. Genomic analyses reveal how this revolutionary signaling system may have originated and why it rapidly became critical to metazoans.</p>    
	|   <p class="extras"><a href="pdfs/wal_2010b.pdf" target="_blank">PDF</a><br>
	|    </p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
