extends ./papers.jade
block content
	|   <p class="title">Design principles of regulatory networks: searching for the molecular algorithms of the cell.</p>
	|   <p class="authors">Wendell A. Lim, Connie M. Lee, Chao Tang<br/>
	|   <em>Mol. Cell</em> 49(2):202-12 (2013)</p>
	|   <p class="abstract">A challenge in biology is to understand how complex molecular networks in the cell execute sophisticated regulatory functions. Here we explore the idea that there are common and general principles that link network structures to biological functions, principles that constrain the design solutions that evolution can converge upon for accomplishing a given cellular task. We describe approaches for classifying networks based on abstract architectures and functions, rather than on the specific molecular components of the networks. For any common regulatory task, can we define the space of all possible molecular solutions? Such inverse approaches might ultimately allow the assembly of a design table of core molecular algorithms that could serve as a guide for building synthetic networks and modulating disease networks.</p>    
	|   <p class="extras"><a href="pdfs/wal_2013a.pdf" target="_blank">PDF</a><br>
	|   </p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
