extends ./papers.jade
block content
	p.title Beyond editing: repurposing CRISPR-Cas9 for precision genome regulation and interrogation
	p.authors  Antonia A. Dominguez, Wendell A. Lim, Lei S. Qi. <br/> <em>Nature Reviews Molecular Cell Biology</em> 2015
	p.abstract  The bacterial CRISPR–Cas9 system has emerged as a multifunctional platform for sequence-specific regulation of gene expression. This Review describes the development of technologies based on nuclease-deactivated Cas9, termed dCas9, for RNA-guided genomic transcription regulation, both by repression through CRISPR interference (CRISPRi) and by activation through CRISPR activation (CRISPRa). We highlight different uses in diverse organisms, including bacterial and eukaryotic cells, and summarize current applications of harnessing CRISPR–dCas9 for multiplexed, inducible gene regulation, genome-wide screens and cell fate engineering. We also provide a perspective on future developments of the technology and its applications in biomedical research and clinical studies.
	p.extras 
	|<p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>