extends ./papers.jade
block content
	|   <p class="title">Defining network topologies that can achieve biochemical adaptation</p>
	|   <p class="authors">Wenzhe Ma, Ala Trusina, Hana El-Samad, Wendell A. Lim, and Chao Tang<br />
	| <em>Cell</em> 138, 760-73 (2009) </p>
	|   <p class="abstract">Many signaling systems show adaptation-the ability to reset themselves after responding to a stimulus. We computationally searched all possible three-node enzyme network topologies to identify those that could perform adaptation. Only two major core topologies emerge as robust solutions: a negative feedback loop with a buffering node and an incoherent feedforward loop with a proportioner node. Minimal circuits containing these topologies are, within proper regions of parameter space, sufficient to achieve adaptation. More complex circuits that robustly perform adaptation all contain at least one of these topologies at their core. This analysis yields a design table highlighting a finite set of adaptive circuits. Despite the diversity of possible biochemical networks, it may be common to find that only a finite set of core topologies can execute a particular function. These design rules provide a framework for functionally classifying complex natural networks and a manual for engineering networks. For a video summary of this article, see the PaperFlick file with the Supplemental Data available online. </p>    
	|   <p class="extras">
	|   <a href="pdfs/wm_2009.pdf" target="_blank">PDF</a><br />
	|   <a href="pdfs/wm_2009_supp.pdf" target="_blank">Supplemental Data</a><br/>
	|   <a href="pdfs/wm_2009_vid.mp4" target="_blank">Video summary on PaperFlick</a><br/>
	|   <a href="pdfs/wm_2009_comm.pdf" target="_blank">Commentary in <em>Cell</em> by Alexander B. Artyukhin, Lani F. Wu, and Steven J. Altschuler</a>
	|   </p>
	|   <p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>
