extends ./papers.jade
block content
	p.title CRISPR/Cas9 for Human Genome Engineering and Disease Research.
	p.authors  Xin Xiong, Meng Chen, Wendell A. Lim, Dehua Zhao, Lei S. Qi. <br/> <em>Annu Rev Genomics Hum Genet.</em> 2016
	p.abstract  The clustered regularly interspaced short palindromic repeats (CRISPR)/ CRISPR-associated 9 (Cas9) system, a versatile RNA-guided DNA targeting platform, has been revolutionizing our ability to modify, manipulate, and visualize the human genome, which greatly advances both biological research and therapeutics development. Here, we review the current development of CRISPR/Cas9 technologies for gene editing, transcription regulation, genome imaging, and epigenetic modification. We discuss the broad application of this system to the study of functional genomics, especially genome-wide genetic screening, and to therapeutics development, including establishing disease models, correcting defective genetic mutations, and treating diseases.
	p.extras 
	|<p class="footer"><a href="../papers.html">back to all Lim Lab Publications</a></p>